{{!-- POST CARD --}}
<article class="card-post {{visibility}}">

  <div class="card-post-header is-relative">
    <a href="{{url}}">
      <div class="card-post-header-image is-relative"
        style="background-image: url('{{#foreach tags visibility="internal"}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/foreach}}')">
      </div><!-- .card-post-header-image -->
    </a>

    <div class="card-post-header-info">
      <div class="card-post-header-tag tags has-addons">
        {{#primary_tag}}
        <span class="tag is-normal is-nunito-light is-uppercase is-radiusless is-public">
          <a href="{{url}}">{{name}}</a>
        </span>
        {{/primary_tag}}
        <span class="tag is-normal is-success is-nunito-black is-uppercase is-radiusless is-hidden for-members"
          title="{{t "MEMBER-POST-TAG"}}">
          <a class="disabled">
            <span class="icon-text">
              <span class="icon">
                <i class="gg-user"></i>
              </span>
              <span>{{t "MEMBER-POST-TAG"}}</span>
            </span>
          </a>
          <a class="disabled"><i class="fa fa-users"></i> {{t "MEMBER-POST-TAG"}}</a>
        </span>
        <span class="tag is-normal is-warning is-nunito-black is-uppercase is-radiusless is-hidden for-paid"
          title="{{t "PAID-POST-TAG"}}">
          <a class="disabled">
            <span class="icon-text">
              <span class="icon">
                <i class="gg-euro"></i>
              </span>
              <span>{{t "PAID-POST-TAG"}}</span>
            </span>
          </a>
        </span>
      </div>

      {{#if reading_time}}
      <div class="card-post-time-to-read has-text-centered is-uppercase is-nunito-light">
        <span>{{reading_time minute=(t "TIME-TO-READ-MINUTE") minutes=(t "TIME-TO-READ-MINUTES")}}</span>
      </div>
      {{/if}}

    </div><!-- .card-post-header-info -->
  </div><!-- .card-post-header -->

  <div class="card-post-body is-relative {{#if featured}}is-featured{{/if}}">
    <div class="card-post-tags">
      {{#if tags}}
      {{#foreach tags from="2" to="3"}}
      <a href="{{url}}" title="{{name}}" class="is-uppercase tag-{{id}} {{slug}}">{{name}}</a>
      {{/foreach}}
      {{else}}
      <a href="#" title="{{name}}" class="is-uppercase tag-null">{{t "POST-WITHOUT-TAG" }}</a>
      {{/if}}
    </div><!-- .card-post-tags -->

    <div class="card-post-title is-relative">
      <a href="{{url}}" class="is-nunito-black">
        <h2 class="title is-6 is-size-5-mobile is-margin-bottom-1">{{title}}</h2>
      </a>
    </div><!-- .card-post-title -->
  </div><!-- -card-post-body -->

  <div class="card-post-info">
    <div class="level is-mobile">
      <div class="card-post-info-author level-left">
        {{#foreach authors}}
        <a href="{{url}}" title="{{name}}" class="is-uppercase author author-{{id}} {{slug}}">{{name}}</a>
        {{/foreach}}
      </div>
      <div class="card-post-info-date level-right">
        <a disabled="disabled" class="is-uppercase">{{date published_at format="DD MMMM, YYYY"}}</a>
      </div>
    </div>
  </div><!-- .card-post-info -->

</article>