<article class="card-featured {{visibility}}">
    <div class="card-featured-header is-relative">
        <a href="{{url}}">
            <div class="card-featured-header-image is-relative"
                style="background-image: url('{{#foreach tags visibility="internal"}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/foreach}}');">
            </div>
        </a>

        <div class="card-featured-header-info">
            <div class="card-featured-label">
                {{#if featured}}
                <div class="tags has-addons">
                    {{#primary_tag}}
                    <span class="tag is-normal is-nunito-light is-uppercase is-radiusless">
                        <a href="{{url}}">{{name}}</a>
                    </span>
                    {{/primary_tag}}
                    <span class="tag is-normal is-danger is-nunito-black is-uppercase is-radiusless" title="Featured Post">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="gg-heart"></i>
                            </span>
                            <span>{{t "FEATURED-POST"}}</span>
                        </span>
                    </span>
                </div>
                {{/if}}
            </div><!-- .card-featured-label -->

            <div class="card-featured-header-title">
                <a href="{{url}}">
                    <h2 class="is-size-5 has-text-centered has-text-white">{{title}}</h2>
                </a>
            </div><!-- .card-featured-header-title -->
        </div><!-- .card-featured-header-info -->

        <div class="card-featured-info">
            <div class="level">
                <div class="card-featured-info-author level-left">
                    {{#foreach authors}}
                    <a href="{{url}}" title="{{name}}" class="is-uppercase author author-{{id}} {{slug}}">{{name}}</a>
                    {{/foreach}}
                </div>
                <div class="card-featured-info-date level-right">
                    <a disabled="disabled" class="is-uppercase">{{date published_at format="DD MMMM, YYYY"}}</a>
                </div>
            </div>
        </div><!-- .card-featured-info -->
    </div><!-- .card-featured-header -->
</article><!-- .card-featured -->