<div class="card-tag card" style="border-bottom: 4px solid {{accent_color}}">
    <div class="card-tag-image card-image">
        <figure class="image is-4by3">
            <a href="{{url}}" alt="{{description}}" title="{{description}}">
                <img src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/if}}"
                    alt="{{description}}" title="{{description}}">
            </a>
        </figure>
    </div>

    <div class="card-tag-content card-content">
        <div class="card-tag-content-media media-content">
            <p class="title is-4">
                <a href="{{url}}" alt="{{description}}" title="{{description}}">{{name}}</a>
            </p>
            <p class="subtitle is-6">
                {{#get "posts" filter="tags:{{slug}}"}}
                {{plural pagination.total empty=(t "NO-POSTS") singular=(t "ONE-POSTS") plural=(t "MORE-POSTS")}}
                {{/get}}
            </p>
        </div>
        <div class="card-tag-content-description content">
            <p>{{description}}</p>
        </div>
    </div>
</div>