{{!-- COMMUNITY SECTION --}}
<section class="section section-community is-hidden">
  <div class="columns">
    <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
    <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
      <div class="columns is-multiline">
        <div class="column">
          <section class="hero is-primary">
            <div class="hero-body">

              <div class="tile is-ancestor">
                <div class="tile is-parent is-4">
                  <article class="tile is-child is-align-content-center is-display-grid">
                    <p class="title">{{t "JOIN-COMMUNITY"}}</p>
                    <p class="subtitle">{{t "JOIN-COMMUNITY-MESSAGE"}} {{@site.name}}</p>
                    <button class="button is-medium is-fullwidth is-grumium">
                      <a href="/membership">{{t "JOIN-TXT-BUTTON"}}</a>
                    </button>
                  </article>
                </div>

                <div class="tile is-parent is-4"></div>

                <div class="tile is-parent is-4">
                  <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                      <nav class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div class="is-align-content-center is-display-grid">
                            <p class="title">
                              {{#get "posts" limit="1" filter="visibility:public" as |posts pagination|}}
                              {{pagination.total}}
                              {{/get}}
                            </p>
                            <p class="heading">{{t "PUBLIC-POST-COUNT"}}</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div class="is-align-content-center is-display-grid">
                            <p class="title">
                              {{#get "posts" limit="1" filter="visibility:members" as |posts pagination|}}
                              {{pagination.total}}
                              {{/get}}
                            </p>
                            <p class="heading">{{t "MEMBER-POST-COUNT"}}</p>
                          </div>
                        </div>
                      </nav>
                    </article>
                    <article class="tile is-child">
                      <nav class="level is-mobile">
                        <div class="level-item has-text-centered">
                          <div class="is-align-content-center is-display-grid">
                            <p class="title">
                              {{#get "posts" limit="1" filter="visibility:paid" as |posts pagination|}}
                              {{pagination.total}}
                              {{/get}}
                            </p>
                            <p class="heading">{{t "PREMIUM-POST-COUNT"}}</p>
                          </div>
                        </div>
                        <div class="level-item has-text-centered">
                          <div class="is-align-content-center is-display-grid">
                            <p class="title">
                              {{#get "posts" limit="1" as |posts pagination|}}
                              {{pagination.total}}
                              {{/get}}
                            </p>
                            <p class="heading">{{t "TOTAL-POST-COUNT"}}</p>
                          </div>
                        </div>
                      </nav>
                    </article>
                  </div>
                </div>

              </div>

            </div>
          </section>
        </div>
      </div>
    </div><!-- .column is-12-tablet... -->
    <div class="column is-hidden-touch"></div>
  </div>
</section>