{{!-- COMMUNITY SECTION --}}
<section class="section section-explore">
  <div class="columns">
    <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
    <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
      <h2>{{t "EXPLORE-TITLE-SECTION"}}</h2>
      <div class="color-stripe"></div>
      <div class="columns is-multiline">

        {{#get 'tags' limit='9' exclude="hash-sm-tag" include='count.posts' order='count.posts desc'}}
        {{#foreach tags}}
        <div class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
          {{> card-tags}}
        </div>
        {{/foreach}}
        {{/get}}

      </div>
    </div><!-- .column is-12-tablet... -->
    <div class="column is-hidden-touch"></div>
  </div>
</section>