{{!-- FEATURE CONTENT --}}
<section class="section section-featured is-hidden is-hidden-tablet-only is-hidden-mobile">
  <div class="container">
    <div class="columns is-multiline">
        {{!-- top-featured start --}}
        {{#get "posts" limit="4" include="tags" filter="featured:true" as |top-featured|}}
        {{#top-featured}}
        <div class="column is-full-mobile is-half-tablet is-half-desktop is-one-quarter-widescreen">
          {{> card-featured}}
        </div>
        {{/top-featured}}
        {{/get}}
        {{!-- top-featured end --}}
      </div><!-- .columns -->
  </div>
</section>