{{!-- FOOTER FOR ALL PAGES --}}
<footer class="footer">
  <div class="footer-inside">

    <div class="columns is-multiline">
      <div class="column is-12">
        <h2 class="is-nunito-black has-text-centered">{{@site.title}}</h2>
        <p class="is-nunito-light has-text-centered">{{@site.description}}</p>
        <hr>
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-hidden-touch is-2-desktop is-2-widescreen is-4-fullhd"></div>
      <div class="column is-6-tablet is-5-desktop is-5-widescreen is-4-fullhd">
        <div class="footer-social has-text-centered">
          <div class="icon mastodon">
            <div class="tooltip">Mastodon</div>
            <img class="svg-img" src="../assets/images/social-icons/mastodon.svg" alt="Mastodon Icon">
          </div>
          <div class="icon xmpp">
            <div class="tooltip">XMPP</div>
            <img class="svg-img" src="../assets/images/social-icons/xmpp.svg" alt="XMPP Icon">
          </div>
          <div class="icon diaspora">
            <div class="tooltip">Diaspora</div>
            <img class="svg-img" src="../assets/images/social-icons/diaspora.svg" alt="Diaspora Icon">
          </div>
          <div class="icon mastodon">
            <div class="tooltip">Telegram</div>
            <img class="svg-img" src="../assets/images/social-icons/telegram.svg" alt="Telegram Icon">
          </div>
          <div class="icon rss">
            <div class="tooltip">RSS</div>
            <img class="svg-img" src="../assets/images/social-icons/rss.svg" alt="RSS Icon">
          </div>

        </div>
      </div>
      <div class="column is-hidden-touch">
        <div class="footer-up has-text-right">
          <div class="footer-social has-text-right">
            <div id="gototop" class="icon totop">
              <div class="tooltip">{{t "LINK-TO-UP"}}</div>
              <span><i class="gg-chevron-up"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- .container -->
</footer><!-- .footer -->

<div class="container-fluid footer-with-copyleft has-text-centered">
  <p class="has-text-centered is-uppercase is-nunito-black">
    <span class="icon-text">
      <span class="icon">
        <i class="gg-copyright"></i>
      </span>
      <span>{{date format="YYYY"}} {{@site.title}}. {{t "COPYLEFT"}}.</span>
    </span>
  </p>
</div>

<div class="container-fluid footer-with-love has-text-centered">
  <p class="has-text-centered is-uppercase is-nunito-black">
    <span class="icon-text">
    {{{t "FOOTER-WITH-LOVE {HEART}" HEART="<i class=\"gg-heart\"></i>"}}}
    </span>
  </p>
</div><!-- .footer-with-love -->