{{!-- MENU --}}
<header>
    <nav id="navbar" class="navbar is-white is-spaced has-shadow-thin is-nunito-black is-fixed-top" style="z-index:999;"
        role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {{#if @site.logo}}
            <div class="navbar-item logo">
                <a href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" title="{{@site.title}} - {{@site.description}}"
                        width="auto" height="28">
                </a>
            </div>
            {{else}}
            <div class="navbar-item text-logo">
                <a class="align-vcentered" href="{{@site.url}}" alt="{{@site.title}}"
                    title="{{@site.title}} - {{@site.description}}">
                    {{#if @site.icon}}
                    <img src="{{@site.icon}}">
                    {{/if}}
                    {{@site.title}}<span>.</span>
                </a>
            </div>
            {{/if}}

            {{!-- burger in mobile devices --}}
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarPrimary">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarPrimary" class="navbar-menu">

            {{!-- Site Navigation --}}
            <div class="navbar-end">
                {{#if @site.navigation}}
                {{navigation}}
                {{/if}}
            </div><!-- .navbar-end -->
        </div><!-- #navbarPrimary -->

    </nav>
</header>