{{!-- HEAD FOR ALL PAGES --}}

<head>
  {{!-- BASE META --}}
  <title>{{meta_title}}</title>
  {{> meta}}

  {{!-- FAVICON --}}
  <link rel="shortcut icon" href="{{@site.icon}}">

  {{!-- SYLES AND FONTS --}}
  {{!--   href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
  integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href="https://css.gg/css?=|bell|bolt|chevron-down|chevron-left|chevron-right|chevron-up|close|copyright|hashtag|moon|search|sun|heart|home|user|euro" rel="stylesheet">
  {{#if @custom.is_dev_mode}}
  <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}" />
  {{else}}
  <link rel="stylesheet" type="text/css" href="{{asset 'css/app.min.css'}}" />
  <link rel="stylesheet" type="text/css" href="{{asset 'css/media-queries.css'}}" />
  {{/if}}
  
  {{#is "post, page"}}

  {{/is}}

  {{#is "home"}}

  {{/is}}

  {{!-- <link 
    href="https://cdn.jsdelivr.net/npm/bulma-pricingtable@0.2.0/dist/css/bulma-pricingtable.min.css"
    rel="stylesheet"  
    integrity="sha256-lSY11/NhZtLpcVGr1wOpTapquBcc/RIfZ2LJ9SO43uY=" 
    crossorigin="anonymous"/> --}}

  {{!-- <link
    href="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/css/bulma-accordion.min.css"
    rel="stylesheet"/>  
  <script 
    src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js">
  </script> --}}

  {{!-- SEO META + STRUCTURED DATA + CODE INJECTION IN HEADER --}}
  {{ghost_head}}
</head>