{{!-- POST ITEM (For index and home cards) --}}
<article class="card-post">

  <div class="card-post-header is-relative">
    <a href="{{url}}">
      <div class="card-post-header-image is-relative" style="background-image: url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png"}} {{/if}}')"></div><!-- .card-post-header-image -->
    </a>

    <div class="card-post-header-info">
      {{#primary_tag}}
      <div class="card-post-header-tag">
        <a class="is-uppercase" href="{{url}}">{{name}}</a>
      </div>
      {{/primary_tag}}

      <div class="card-post-author">
        {{#foreach authors}}
        <figure class="image is-32x32">
          {{#if profile_image}}
          <a href="{{url}}">
            <img class="is-rounded" src="{{img_url profile_image size=" small"}}" alt="{{name}}" title="{{name}}">
          </a>
          {{else}}
          <a href="{{url}}">
            <img class="is-rounded" src="{{asset 'images/user-avatar-default.png'}}" alt="{{name}}" title="{{name}}">
          </a>
          {{/if}}
        </figure>
        {{/foreach}}
      </div><!-- .card-post-author -->
    </div><!-- .card-post-header-info -->
  </div><!-- .card-post-header -->

  <div class="card-post-time-to-read has-text-centered is-uppercase is-nunito-light is-relative">
    <span>{{reading_time minute=(t "TIME-TO-READ-MINUTE") minutes=(t "TIME-TO-READ-MINUTES")}}</span>
  </div>

  <div class="card-post-title is-relative">
    <a href="{{url}}" class="is-nunito-black has-text-black">
      <h2 class="title is-4 is-size-5-mobile is-margin-bottom-1">{{title}}</h2>
    </a>
  </div><!-- .card-post-title -->

</article>