{{#if @custom.search_api_key}}
<script type="text/javascript">
    var search_key = "{{@custom.search_api_key}}";
</script>
{{/if}}

{{#if @custom.search_url}}
<script type="text/javascript">
    var search_url = "{{@custom.search_url}}";
</script>
{{else}}
<script type="text/javascript">
    var search_url = "{{@site.url}}";
</script>
{{/if}}

{{#if @custom.show_featured_section}}
<script type="text/javascript">
    var show_featured = "{{@custom.show_featured_section}}";
    $('.section-featured').removeClass("is-hidden");
</script>
{{else}}
<script type="text/javascript">
    var show_featured = false;
</script>
{{/if}}

{{#if @custom.show_subscribe_section}}
<script type="text/javascript">
    var show_subscribe = "{{@custom.show_subscribe_section}}";
    $('.section-subscribe').removeClass("is-hidden");
</script>
{{else}}
<script type="text/javascript">
    var show_subscribe = false;
</script>
{{/if}}

{{#if @custom.show_comment_section}}
<script type="text/javascript">
    var show_comment = "{{@custom.show_comment_section}}";
    $('.section-comments').removeClass("is-hidden");
</script>
{{else}}
<script type="text/javascript">
    var show_comment = false;
</script>
{{/if}}

{{#if @custom.show_community_section}}
<script type="text/javascript">
    var show_community = "{{@custom.show_community_section}}";
    $('.section-community').removeClass("is-hidden");
</script>
{{else}}
<script type="text/javascript">
    var show_community = false;
</script>
{{/if}}

