{{!-- CONTAINER FOR CARDS --}}
<section class="section section-posts">
  <div class="columns">
    <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
    <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
      <div id="post-container" class="columns is-multiline"
        data-infinite-scroll='{ "path": ".pagination-previous", "append": "#post-square", "button": ".view-more-button" ,"history": false, "scrollThreshold": false, "status": ".scroller-status" }'>
        {{#foreach posts limit="12"}}
        <div id="post-square" class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
          {{#if featured}}
          {{> card-featured}}
          {{else}}
          {{> card}}
          {{/if}}
        </div>
        {{/foreach}}
      </div>
    </div><!-- .column is-12-tablet... -->
    <div class="column is-hidden-touch"></div>
  </div>
</section>