{{!-- MENU --}}
<header>

    <nav id="navbar" class="navbar navbar-grumium has-shadow-thin is-nunito-black is-fixed-top"
        style="z-index:300;" role="navigation" aria-label="main navigation">

        {{!-- BRAND and BURGER --}}
        <div class="navbar-brand">
            {{#if @site.logo}}
            <div class="navbar-item logo">
                <a href="{{@site.url}}">
                    <img src="{{@site.logo}}" alt="{{@site.title}}" title="{{@site.title}} - {{@site.description}}"
                        width="auto" height="28">
                </a>
            </div>
            {{else}}
            <div class="navbar-item text-logo">
                <span class="icon is-medium">
                    <i class="gg-bolt"></i>
                </span>
                
                <a class="align-vcentered" href="{{@site.url}}" alt="{{@site.title}}"
                    title="{{@site.title}} - {{@site.description}}">
                    {{#if @site.icon}}
                    <img src="{{@site.icon}}">
                    {{/if}}
                    {{@site.title}}
                </a>
            </div>
            {{/if}}

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

            <a class="modal-open-search button is-normal is-grumium is-grumium-search is-hidden-desktop"
                data-target="modal-search">
                <span class="icon is-small">
                    <i class="gg-search"></i>
                </span>
            </a>
        </div><!-- .navbar-brand -->

        <div id="navbarPrimary" class="navbar-menu">

            <div class="navbar-start">
                {{#if @site.navigation}}
                {{navigation}}
                {{/if}}
            </div>

            <div class="navbar-end">
                <div class="navbar-item">

                    <div class="field is-grouped">
                        <p class="control">
                            <a class="modal-open-search button is-normal is-grumium is-grumium-search"
                                data-target="modal-search">
                                <span class="icon is-small">
                                    <i class="gg-search"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a id="theme-toggle" class="button is-normal is-grumium is-grumium-switch">
                                <span class="icon is-small switch">
                                   <i class="gg-moon"></i>
                                </span>
                            </a>
                        </p>
                        <p class="control is-hidden">
                            <a class="button is-default is-normal is-grumium is-grumium-register is-hidden">
                                <span class="icon is-small">
                                    <i class="gg-user"></i>
                                </span>
                                <span>
                                    <a href="/signin">{{t "SIGN-IN"}}</a>
                                </span>
                            </a>
                        </p>
                        <p class="control is-hidden">
                            <a class="button is-default is-normal is-grumium is-grumium-login is-hidden">
                                <span>
                                    <a href="/signup">{{t "SIGN-UP"}}</a>
                                </span>
                                <span class="icon is-small">
                                   <i class="gg-chevron-right"></i>
                                </span>
                            </a>
                        </p>
                    </div><!-- .field -->
                </div><!-- .navbar-item -->
            </div><!-- .navbar-end -->
        </div><!-- .navbar-menu -->
    </nav>
    {{> search}}

</header>