<div class="section-megamenu">
    <div class="columns">

        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">
            <div class="columns is-multiline">

                {{#get "posts" include="tags" limit="4" filter="tag:hash-sm-tag"}}
                {{#foreach posts}}
                <div class="megamenu-posts column is-3">

                    <a href="{{url}}" class="m-recent-article">
                        <div class="m-recent-article-picture is-relative">
                            <div class="m-recent-article-image"
                                style="background-image: url('{{#foreach tags visibility="internal"}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/foreach}}');">
                            </div>
                        </div>
                    </a>
                    <div class="m-info-article">
                        <div class="m-recent-article-title">
                            <a href="{{url}}">
                                <h4>{{title}}</h4>
                            </a>
                        </div>
                        <div class="m-data-article">
                            <a disabled="disabled" class="is-uppercase">{{date published_at format="DD MMMM, YYYY"}}</a>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="m-no-found in-recent-articles">{{t "NO-POST-IN-MEGA-MENU-MESSAGE"}}</div>
                {{/foreach}}
                {{/get}}
            </div>

            <div class="megamenu-tags">
                <div class="tags">
                    {{#get "tags" limit="30" filter="slug:-hash-sm-tag"}}
                    {{#foreach tags}}

                    <span class="tag is-normal is-uppercase is-radiusless">
                        <a href="{{url}}">{{name}}</a>
                    </span>
                    {{else}}
                    <p>{{t "TAGS-NOT-FOUND"}}</p>

                    {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>

        <div class="column is-hidden-touch"></div>

    </div>
</div>