<!-- MENU ITEMS AND SUPER MENU-->
{{#foreach navigation}}
<a class="navbar-item {{#if current}}nav-current{{/if}}" href="{{url absolute=" true"}}">{{label}}</a>
{{/foreach}}

<div class="js-super-menu  is-hidden-tablet-only is-hidden-mobile">
  <a class="navbar-item js-sm-button is-arrowless is-uppercase">
    <span class="icon-text">
      <span>{{t "MORE-NAVBAR" }}</span>
      <span class="icon">
        <i class="gg-chevron-down"></i>
      </span>                
    </span>
  </a>

  <div class="js-sm-submenu">
    <section class="m-recent-articles">
      <div class="js-recent-articles">
        {{> navigation-sm}}
      </div>
    </section>
  </div>
</div><!-- .js-super-menu -->

{{#if isSecondary}}
<ul class="m-secondary-menu">
  {{#foreach navigation type="secondary"}}
  <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
    <a href="{{url absolute="true"}}">{{label}}</a>
  </li>
  {{/foreach}}
</ul>
{{/if}}