{{!-- PAGINATION (With infinite scroll)--}}
<section class="section section-pagination">
  <div class="columns is-gapless">
    <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>

    <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd is-relative">
      <div class="columns is-multiline">
        <div class="column is-12">

          <nav class="pagination is-hidden" role="navigation" aria-label="pagination">
            {{#if prev}}
            <a rel="next" class="pagination-next posts newer btn small" href="{{page_url prev}}#open">{{t "NEXT"}}</a>
            {{/if}}

            {{#if next}}
            <a rel="prev" class="pagination-previous posts older btn small"
              href="{{page_url next}}#open">{{t "PREVIOUS"}}</a>
            {{/if}}
          </nav><!-- .pagination -->

          <div class="scroller-status">
            <div class="loader-ellips infinite-scroll-request">
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
              <span class="loader-ellips__dot"></span>
            </div>
            <p class="infinite-scroll-last has-text-centered has-text-weight-bold">
              {{t "INFINITE-SCROLL-MESSAGE"}}
            </p>
            <p class="infinite-scroll-error has-text-centered has-text-weight-bold">
              {{t "INFINITE-SCROLL-MESSAGE-NO-POST"}}
            </p>
          </div>

          <div class="buttons has-addons is-centered has-text-centered">
            <button
              class="button is-default is-medium is-grumium view-more-button">{{t "INFINITE-SCROLL-MESSAGE-TXT-BUTTON"}}</button>
          </div>

        </div>
      </div>
    </div>

    <div class="column is-hidden-touch"></div>

  </div>
</section>