{{!-- SEARCH --}}
<div id="modal-search" class="modal">
  <div class="modal-background"></div>

  <div class="modal-card">

    <section class="modal-card-body">
      <div class="card-search card-search-form">

        <div class="field has-addons">
          <div class="control has-icons-right is-expanded">
            <input id="search-input" class="input is-large"
              placeholder="{{#get "posts"}}{{t "SEARCH-COUNT-POSTS-PLACEHOLDER" total=pagination.total}}. {{t "SEARCH-MESSAGE-POSTS-PLACEHOLDER"}}{{/get}}">
            <span class="icon is-large is-right">
              <i class="gg-search"></i>
            </span>
          </div>
          <div class="control">
            <a id="search-close" class="button is-default is-large card-search-close">
              <span class="icon is-small">
                <i class="fa gg-close"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="card-search-info has-text-centered is-uppercase is-size-6">
          <span class="search-info-txt">{{t "SEARCH-MESSAGE"}}</span>
          <span class="search-info-count primary-color">0</span>
          <span class="search-info-results">{{t "SEARCH-MESSAGE-RESULTS"}}</span>
        </div>

      </div>{{!-- card-search --}}

      <div id="search-results"></div>

    </section>{{!-- modal-card-body --}}


  </div>{{!-- modal-card --}}
</div>{{!-- #modal-search --}}