/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## KG ########## */
.single-article .single-post-content figure {
    margin-left: -5.6rem;
    /* overwrite default 2rem */
    margin-right: -5.6rem;
    /* overwrite default 2rem */
    position: relative;
}

.single-post-content figure figcaption {
    background: var(--primary-color);
    font-family: var(--font-family-primary);
    color: var(--txt-color-on-bg-dark);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 3px;
    padding: 6px;
}

.single-article .single-post-content .kg-embed-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.single-article .single-post-content .kg-width-full,
.single-article .single-post-content .kg-width-wide {
    max-width: 100vw;
    width: 100vw;
    margin: 0 calc(-50vw + 70%);
    position: relative;
    z-index: 110;
}

.single-article .single-post-content .kg-width-wide {
    background-color: var(--bg-light-primary);
}

.single-article .single-post-content .kg-width-wide img {
    vertical-align: middle;
}

.single-article .single-post-content .kg-width-wide img,
.single-article .single-post-content .kg-width-wide figcaption {
    max-width: calc(100vw - 440px);
    margin-left: calc(-50vw + 220px);
    margin-right: calc(-50vw + 220px);
    position: relative;
    width: 75%;
    height: auto;
    left: 50%;
    right: 50%;
}

.single-article .single-post-content .kg-image-card figcaption,
.single-article .single-post-content .kg-width-full figcaption,
.single-article .single-post-content .kg-width-wide figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.single-article .single-post-content .kg-image-card img {
    object-fit: cover;
    width: 100%;
}

.single-article .single-post-content .kg-width-full img {
    max-height: 100vh;
    object-fit: cover;
    width: 100%;
}

.single-article .single-post-content .kg-gallery-card figcaption {
    margin-left: calc(-35vw + 285px);
    position: relative;
    width: 100%;
}

.single-post-content figure:not(:last-child) {
    margin-bottom: 1em !important;
}

.single-post-content figure:not(:first-child) {
    margin-top: 1em !important;
}

.kg-gallery-card {
    margin: 1rem auto !important;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
}

.single-article .single-post-content .kg-gallery-container {
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.single-article .single-post-content .kg-gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
}

.single-article .single-post-content .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    position: inherit;
}

.single-article .single-post-content .kg-gallery-row:not(:first-of-type) {
    margin: 0.25em 0 0 0;
}

.single-article .single-post-content .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.25em;
}

.kg-bookmark-publisher {
    color: red;
}

/* WHEN GALLERY IS OPEN */
.medium-zoom--opened .medium-zoom-overlay,
.medium-zoom-image--opened {
    z-index: 120;
}