/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## PLUGINS ########## */

/* ## PRISMJS */
/* Overwrite prismjs line-number style */
pre[class*="language-"].line-numbers {
    padding-left: 3rem !important;
    background-color: var(--bg-dark-primary);
    color: var(--text-color-white);
}

.line-numbers-rows>span:before {
    color: var(--text-color-white) !important;
}

div.code-toolbar>.toolbar {
    top: 0px !important;
    right: 0px !important;
}

div.code-toolbar>.toolbar a,
div.code-toolbar>.toolbar button,
div.code-toolbar>.toolbar span {
    border-radius: 0px !important;
    padding: 4px 15px !important;
    text-transform: uppercase;
}

/* Bulma and PrismJS conflict */
.content .tag,
.content .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}

/* TOC */
#table-of-content {
    z-index: 100;
    /*border-left: 5px solid var(--primary-color);*/
    position: fixed;
    top: 132px;
    margin-right: 10px;
    padding-right: 10px;
}

#table-of-content.is-sticky {
    position: sticky;
    top: 100px;
    margin-bottom: 160px;
}

#table-of-content.is-absolute {
    position: absolute;
    top: 40px;
}

.toc {
    overflow-y: auto;
}

.toc>.toc-list {
    overflow: hidden;
    position: relative;
}

.toc>.toc-list li {
    list-style: none;
}

.toc-list {
    list-style: none;
    margin-bottom: 0px;
}

a.toc-link {
    height: 100%;
    display: inline-block;
    border-left: 5px solid transparent;
    padding-left: 15px;
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    font-weight: 700;
    border-left: 5px solid var(--primary-color) !important;
}

/* INFINITE SCROLL */
.infinite-scroll-last,
.infinite-scroll-error {
    display: none;
}

/* ## PROGRESS SCROLL */
.progress-container {
    width: 100%;
    height: 6px;
    position: fixed;
    bottom: 0px;
    z-index: 999999;
    margin-left: 0px;
}

.progress-bar {
    height: 6px;
    background: var(--primary-color);
    width: 0%;
}