/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## COMPONENTS ########## */
.is-grumium {
    background-color: var(--bg-light-secondary);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 2px solid var(--primary-color);
}

.is-grumium:hover,
.is-grumium:focus {
    background-color: var(--primary-color);
    color: var(--txt-color-on-bg-dark);
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 2px solid var(--primary-color);
}

.is-grumium:focus,
.is-grumium:focus:not(:active) {
    outline: none;
    box-shadow: none;
    color: var(--txt-color-on-bg-dark);
}

.is-grumium-login {
    background-color: var(--primary-color);
    color: var(--txt-color-on-bg-dark);
}

.is-grumium-login:hover {
    background-color: var(--bg-light-secondary);
    color: var(--primary-color);
}

.is-grumium-login a {
    color: var(--txt-color-on-bg-dark);
}

.is-grumium-search,
.is-grumium-switch {
    border: none;
    background-color: transparent;
    color: var(--txt-color-on-bg-ligth);
}

.is-grumium-search:hover,
.is-grumium-switch:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
}

.is-grumium-search.is-hidden-desktop {
    height: 64px;
    padding: 0px 25px;
}