/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## GLOBAL ########## */
body {
    font-family: var(--font-family-primary);
    background-color: var(--bg-light-primary);
    color: var(--txt-color-on-bg-light);
}

.is-nunito {
    font-family: var(--font-family-primary);
    font-weight: 400;
}

.is-nunito-light {
    font-family: var(--font-family-primary);
    font-weight: 200;
}

.is-nunito-black {
    font-family: var(--font-family-primary);
    font-weight: 900;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-primary);
    font-weight: 900;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

a {
    font-weight: 900;
    color: var(--txt-color-on-bg-light);
    transition: all 0.5s;
}

a:hover {
    color: var(--txt-color-hover);
    transition: all 0.5s;
}

code {
    background-color: var(--primary-color);
    padding: 1px 8px;
    font-weight: 900;
    font-size: 12px;
}

pre {
    background-color: var(--bg-dark-primary);
    white-space: pre-line;
    margin-bottom: 20px;
}

code,
pre,
pre code {
    color: var(--txt-color-on-bg-dark);
}

blockquote {
    font-size: 1.2rem;
    color: var(--txt-color-on-bg-light);
    border-left: 10px solid;
    border-color: var(--primary-color);
    padding: 10px 15px;
    margin-bottom: 20px;
    text-align: justify;
}

ul,
ol {
    font-size: 18px;
    line-height: 2;
    margin-left: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: square;
}

ol {
    list-style: revert;
}

.label {
    line-height: 16px;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 0;
    color: var(--txt-color-on-bg-light);
}

.is-display-grid {
    display: grid;
}

.primary-color {
    color: var(--primary-color);
}

.color-stripe {
    background-color: var(--primary-color);
    height: 6px;
    margin-top: 15px;
    width: 50px;
    margin-bottom: 25px;
}

.svg-img {
    width: 18px;
}