/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## FEATURED IMAGE ########## */
.featured-image,
.single-article .single-featured-image,
.author-page .author-featured-image,
.section-post-archive .single-featured-image,
.section-featured-post-archive .single-featured-image,
.section-tag-archive .single-featured-image,
.section-tag-page .single-featured-image,
.section-author-page .single-featured-image,
.section-page .page-featured-image {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222222;
    z-index: 110;
    margin-bottom: 25px;
}

.single-article .single-featured-image,
.author-page .author-featured-image,
.section-post-archive .single-featured-image,
.section-featured-post-archive .single-featured-image,
.section-tag-archive .single-featured-image,
.section-tag-page .single-featured-image,
.section-author-page .single-featured-image,
.section-page .page-featured-image {
    height: 500px;
    background-size: auto;
}