/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/* COMPONENTS: LABELS (TAGS) */
.section-posts .card-post-header-tag .is-public a {
    color: var(--txt-color-on-bg-dark);
}

.section-posts .card-post-header-tag .is-public:not(body) {
    background-color: var(--primary-color);
    transition: all 0.5s;
    text-decoration: none;
    border: 4px solid var(--primary-color);
}

.section-posts .card-post-header-tag .is-public:not(body):hover {
    transition: all 1s;
}

.card-post-header-tag span {
    display: table-cell;
    vertical-align: middle;
}