/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

.section-featured,
.section-tag-page,
.section-error404,
.section-page,
.section-community,
.section-posts,
.section-pagination,
.section-explore,
.section-comments {
    background-color: var(--bg-light-primary);
    color: var(--txt-color-on-bg-light);
}

.section-featured {
    margin-top: 70px;
}