/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## MODAL ########## */
#modal-fediverse,
#modal-search {
    z-index: 300;
}

#modal-fediverse .modal-content {
    padding: 50px;
    background-color: var(--primary-color);
    border-radius: 6px;
}

#modal-fediverse .modal-content .field .label {
    color: var(--txt-color-on-bg-dark);
}

#modal-fediverse .box {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}

#modal-fediverse .box:disabled {
    color: var(--txt-color-on-bg-dark);
}

#modal-fediverse .box span i {
    font-size: 25px;
}

#modal-fediverse button.active img.gnu-social {
    filter: invert(22%) sepia(56%) saturate(1842%) hue-rotate(325deg) brightness(90%) contrast(104%);
}

#modal-fediverse button.active img.mastodon {
    filter: invert(40%) sepia(89%) saturate(501%) hue-rotate(167deg) brightness(101%) contrast(85%);
}

#modal-fediverse button.active img.pleroma {
    filter: invert(8%) sepia(60%) saturate(429%) hue-rotate(175deg) brightness(101%) contrast(95%);
}

#modal-fediverse button.active img.hubzilla {
    filter: invert(24%) sepia(32%) saturate(1427%) hue-rotate(203deg) brightness(95%) contrast(87%);
}

#modal-fediverse button.active img.friendica {
    filter: invert(91%) sepia(20%) saturate(6627%) hue-rotate(348deg) brightness(100%) contrast(94%);
}

#modal-fediverse button.active img.diaspora {
    filter: invert(0%) sepia(75%) saturate(2265%) hue-rotate(152deg) brightness(84%) contrast(79%);
}

.fediverse-form div>input {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--border-color);
}

.fediverse-form div>.is-danger.input {
    border: none;
    border-bottom: 5px solid red;
}

.fediverse-form div input.active,
.fediverse-form div input:focus,
.fediverse-form div input:hover {
    border: 2px solid var(--border-color);
    box-shadow: none;
}

.fediverse-form p.help,
.fediverse-form p.help {
    text-align: right;
    color: var(--txt-color-on-bg-dark);
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 0px;
}

.fediverse-form .is-send {
    background-color: var(--color-green);
}