{{!< default}} {{!-- AUTHOR --}}

<article class="section-author-page">
    <header>
        {{#author}}
        <div class="single-featured-image cover is-relative"
            style="background-image: url('{{#if cover_image}}{{img_url cover_image}}{{else}}{{asset "images/default-thumb.png" }}{{/if}}')">
            <div class="section-author-cover"></div>
            <div class="section-author-info">
                {{#if profile_image}}
                <figure class="section-author-avatar image is-96x96 is-margin-auto">
                    <img class="image-squared is-rounded" src="{{img_url profile_image size=" small"}}" alt="{{name}}"
                        title="{{name}}">
                </figure>
                {{/if}}
                <h1 class="title is-uppercase has-text-white author-info-title">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="gg-user"></i>
                        </span>
                        <span>{{name}}</span>
                    </span>
                </h1>
                <p class="author-info-bio">{{bio}}</p>
                <span class="author-info-count is-uppercase is-nunito-black">
                    {{plural ../pagination.total empty=(t "NO-POSTS") singular=(t "ONE-POST") plural=(t "MORE-POSTS")}}
                </span>
            </div>
        </div>
        {{/author}}
    </header>

    {{!-- main --}}
    {{> main}}

</article>

{{!-- PAGINATION --}}
{{pagination}}