{{!< default}} {{!-- CUSTOM TEMPLATE: Post Archive (List) --}}
{{#post}}
<section class="section-post-archive">
  <header>
    {{!-- featured_image --}}
    <div class="single-featured-image is-relative" style="background-color:{{#foreach tags visibility="
      internal"}}{{description}}{{/foreach}}; background-image: url('{{#if feature_image}}{{img_url
      feature_image}}{{else}}{{asset "images/default-thumb.png" }} {{/if}}')">
      <div class="post-archive-title">
        <h1 class="has-text-centered is-nunito-black">{{title}}</h1>
      </div>
    </div><!-- .single-featured-image -->
    {{!-- featured_image --}}
  </header>

  <div class="columns">
    <div class="column is-hidden-touch is-2-desktop is-2-widescreen is-3-fullhd"></div>

    <div class="column is-12-tablet is-8-desktop is-8-widescreen is-6-fullhd">
      <div class="columns">

        <article class="post-archive-content box is-clipped">

          {{#get "posts"}}
          <h2 class="has-text-centered is-nunito-black is-uppercase">
            {{t "CUSTOM-TOTAL-POSTS-MESSAGE" total=pagination.total}}
          </h2>
          {{/get}}

          <ul class="post-archive-content-list">
            {{#get "posts" limit="all" include="authors" order="published_at desc"}}
            {{#foreach posts}}
            <li class='post-archive-item' year="{{date format=(t 'YYYY')}}" month="{{date format=(t 'MMMM')}}">
              <div class="date is-uppercase">
                <time
                  class="button is-static is-size-7 is-nunito-black">{{date published_at format=(t "MMM DD")}}</time>
              </div>
              <div class="subtitle">
                <a href='{{url}}'>
                  {{title}}
                </a>
                {{#if featured}}
                <span class="icon-text">
                  <span class="icon" style="color:var(--color-red)" title="{{t " Featured"}}">
                    <i class="gg-heart"></i>
                  </span>
                  <span class="authors"> - {{#authors}} {{name}} {{/authors}} </span>
                </span>
                {{else}}
                <span class="authors"> - {{#authors}} {{name}} {{/authors}} </span>
                {{/if}}
              </div>
            </li>
            {{/foreach}}
            {{/get}}
          </ul>

        </article><!-- .post-archive-content -->

      </div><!-- .columns -->
    </div><!-- .column -->

    <div class="column is-hidden-touch"></div>

  </div><!-- .columns -->
</section>
{{/post}}