{{!< default}} {{!-- CUSTOM TEMPLATE: Tags archive --}}
<section class="section-tag-archive">
  <header>
    {{!-- featured_image --}}
    <div class="single-featured-image is-relative" style="background-color:{{#foreach tags visibility="
      internal"}}{{description}}{{/foreach}}; background-image: url('{{#foreach tags visibility="
      internal"}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/foreach}}')">
      {{#post}}
      <div class="tag-archive-title has-text-centered is-nunito-black">
        <h1>{{title}}</h1>
      </div>
      {{/post}}
    </div><!-- .single-featured-image -->
    {{!-- featured_image --}}
  </header>

  <div class="columns">
    <div class="column is-hidden-touch is-2-desktop is-2-widescreen is-3-fullhd"></div>

    <div class="column is-12-tablet is-8-desktop is-8-widescreen is-6-fullhd">
      <div class="columns is-multiline">

        {{#get "tags" limit="all" order="pagination.total desc"}}
        {{#foreach tags}}
        <div id="card-tag" class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">

          <a href="{{url}}" alt="{{description}}" title="{{description}}">
            <div class="tag-card has-text-centered" style="border-bottom: 4px solid {{accent_color}}">
              {{#if feature_image}}
              <div class="tag-image" style="background-image:url({{img_url feature_image size="medium"}});">
                <div class="mask"></div>
              </div>
              {{else}}
              <div class="tag-image noimg" style="background-image:url({{asset "images/default-thumb.png"}});">
                <div class="mask"></div>
              </div>
              {{/if}}
              <div class="tag-info">
                <h2 class="tag-name">{{name}}</h2>
                {{#get "posts" filter="tags:{{slug}}"}}
                <div class="post-count">{{plural pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t
                  "% posts")}}</div>
                {{/get}}
              </div>
            </div>
          </a>

        </div>
        {{/foreach}}
        {{/get}}

      </div>
    </div>

    <div class="column is-hidden-touch"></div>

  </div>
</section>