{{!< default}} {{!-- CUSTOM TEMPLATE: Featured Posts Archive --}}
{{#post}}
<section class="section-featured-post-archive">
  <header>
    {{!-- featured_image --}}
    <div class="single-featured-image is-relative" style="background-color:{{#foreach tags visibility="
      internal"}}{{description}}{{/foreach}}; background-image: url('{{#if feature_image}}{{img_url
      feature_image}}{{else}}{{asset "images/default-thumb.png" }} {{/if}}')">
      <div class="featured-archive-title">
        <h1 class="has-text-centered is-nunito-black">{{title}}</h1>
      </div>
    </div><!-- .single-featured-image -->
    {{!-- featured_image --}}
  </header>

  <div class="columns">
    <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd"></div>

    <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd">

      <div id="post-container" class="columns is-multiline"
        data-infinite-scroll='{ "path": ".pagination-previous", "append": "#post-square", "button": ".view-more-button" ,"history": false, "scrollThreshold": false, "status": ".scroller-status" }'>
        {{#get "posts" include="tags,authors" filter="featured:true" limit="all" order="published_at desc"}}
        {{#foreach posts}}
        <div id="post-square" class="column is-12-mobile is-6-tablet is-4-widescreen is-6-desktop">
          {{> card-featured}}
        </div>
        {{/foreach}}
        {{/get}}
      </div>
    </div>

    <div class="column is-hidden-touch"></div>

  </div>
</section>
{{/post}}