<!DOCTYPE html>
<html lang="{{@site.locale}}" class="">

{{> head}}

<body class="{{body_class}}">

  {{> navbar}}

  <main class="page">

    {{{body}}}
    {{> footer}}
  </main><!-- .page -->

  {{#is "home" }}
  
  {{/is}}

  {{#is "post, page, author"}}
  <div class="progress-container">
    <div class="progress-bar" id="js-progress-bar"></div>
  </div><!-- .progress-container -->
  {{/is}}

  {{!-- SCRIPTS --}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/@tryghost/content-api@1.3.5/umd/content-api.min.js"></script>{{!-- ghost-search --}}
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>{{!-- Infinite Scroll --}}
  <script src="https://cdn.jsdelivr.net/npm/ghost-search@1.1.0/dist/ghost-search.min.js"></script>{{!-- ghost-search --}}

  {{#is "post, page"}}
  {{!-- TOC --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.min.js"></script>
  <script src="{{asset 'js/js-in-pages-min.js'}}"></script>
  {{/is}}

  {{#is "post"}}
  {{!-- SYSTEM COMMENTS --}}
  {{!-- <script data-isso="" src=""></script> --}}
  {{/is}} 

  {{!-- MAIN JS --}}
  {{> load-js-var}}
  <script type="text/javascript" src="{{asset 'js/main-min.js'}}"></script>

  {{ghost_foot}}

</body>

</html>
