{{!< default}} {{!-- ONLY ERROR 404 --}}
<section class="section section-error404">

  <div class="columns">
    <div class="column is-hidden-touch"></div>

    <div class="column is-12-tablet is-8-desktop is-8-widescreen is-6-fullhd">
      <div class="error404-wrap has-text-centered">

        <h3 class="error404-message is-uppercase">{{t "Oops!"}} {{message}}</h3>
        <h1 class="error404-code is-uppercase is-nunito-black">{{statusCode}}</h1>
        <h3 class="error404-message-manual is-uppercase ">{{t "ERROR-404-TXT-MESSAGE"}}</h3>
        <button class="button is-medium is-grumium">
          <a href="{{@site.url}}">
            <span class="icon">
              <i class="gg-home"></i>
            </span>
            <span>{{t "ERROR-TXT-BUTTON"}}</span>
          </a>
        </button>

      </div><!-- .error404-wrap -->
    </div><!-- .column -->

    <div class="column is-hidden-touch is-relative"></div>
</section>