{{!< default}} {{!-- ALL ERRORS EXCEPT 404 See: error-404.hbs --}}
<section class="section section-error404">

  <div class="columns">
    <div class="column is-hidden-touch"></div>

    <div class="column is-12-tablet is-8-desktop is-8-widescreen is-6-fullhd">
      <div class="error404-wrap">

        <h2 class="title error-message">{{message}}</h2>
        <h1 class="error-code">{{statusCode}}</h1>
        <p class="message-manual is-nunito-black">{{t "Maybe the URL is not correct, or the page is no longer exist."}}
        </p>
        <button class="button is-medium is-grumium">
          <a href="{{@site.url}}">
            <span class="icon">
              <i class="gg-home"></i>
            </span>
            <span>{{t "ERROR-TXT-BUTTON"}}</span>
          </a>
        </button>

      </div><!-- .error40x-wrap -->
    </div><!-- .column -->

    <div class="column is-hidden-touch is-relative"></div>
</section>