{{!< default}} {{!-- PAGE --}}

{{#post}}
<section class="section-page">

    <header>
        {{!-- featured_image --}}
        <div class="page-featured-image is-relative" style="background-color:{{#foreach tags visibility="
        internal"}}{{accent_color}}{{/foreach}}; background-image: url('{{#foreach tags visibility="
        internal" }}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }} {{/foreach}}')"></div>
        {{!-- featured_image --}}
    </header>

    <div class="columns">
        <div class="column is-hidden-touch is-relative"></div>
        <div class="column is-12-tablet is-8-desktop is-8-widescreen is-6-fullhd">
            <article class="page-article">
                <div class="single-post-info-title">
                    <h1 class="is-nunito-black">{{title}}</h1>
                </div><!-- .card-post-info-title -->

                <div id="entrada" class="single-post-content is-size-6-mobile is-nunito">
                    {{content}}
                </div>
                <div class="box is-paddingless is-shadowless is-full-mobile is-centered is-clipped">
            </article>
        </div>
        <div class="column is-hidden-touch is-relative"></div>
    </div>
</section>
{{/post}}