{{!< default}} {{!-- POST --}}
{{#post}}
<article class="single-article">
  <header>
    {{!-- featured_image --}}
    <div class="single-featured-image is-relative" style="background-color:{{#foreach tags visibility="internal"}}{{accent_color}}{{/foreach}}; background-image: url('{{#foreach tags visibility="internal" }}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }} {{/foreach}}')"></div>
    {{!-- featured_image --}}
  </header>

  <div class="columns">
    <div class="column is-hidden-touch is-relative"></div><!-- .column -->

    <div class="column is-12-tablet is-12-desktop is-8-widescreen is-8-fullhd">

      <div class="columns is-gapless single-post-columns">

        <!-- Content Post -->
        <div class="column is-three-quarters is-relative">
          <div class="single-post">

            <div class="single-post-info">
              <div class="card-post-info-tag">
                <span class="label">
                  <span class="label-category is-nunito-light is-uppercase">
                    {{#primary_tag}}
                    <a href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                  </span>
                  <span class="is-nunito-light is-uppercase">/</span>
                  <span class="label-date is-nunito-light is-uppercase">{{date format="MMMM DD, YYYY"}}</span>
                  <span class="is-nunito-light is-uppercase label-featured">
                    <span class="icon-text">
                      <span class="icon">
                          <i class="gg-heart"></i>
                      </span>
                      <span>{{t "FEATURED-POST"}}</span>
                    </span>
                  </span>
                </span>
              </div><!-- .card-post-info-tag -->
            </div><!-- .single-post-info -->

            <div class="single-post-info-title">
              <h1 class="title is-1 is-nunito-black">{{title}}</h1>
            </div><!-- .card-post-info-title -->

            <div class="color-stripe"></div>

            <div id="entrada" class="single-post-content is-size-6-mobile is-nunito js-content">
              {{content}}
            </div><!-- .ssingle-post-content -->

          </div><!-- .single-post -->
        </div><!-- .column -->

        <!-- TOC -->
        <div class="column is-relative is-hidden-mobile is-hidden-tablet-only">
          <div id="table-of-content" class="js-toc is-hidden is-absolute">
            <h1 class="is-nunito-light is-uppercase">{{t "TABLE-OF-CONTENT-TITLE"}}</h1>
          </div>

          <div class="share-to-social is-absolute">
            {{> "post/post_share" }}
          </div>
        </div><!-- .column -->
      </div><!-- .columns -->

    </div><!-- .column -->

    <div class="column is-hidden-touch is-relative"></div><!-- .column -->
  </div><!-- .columns -->

</article>

{{> "post/next_post" }}

{{> "subscribe" }}

{{> "explore" }}

{{> "post/post_comment" }}

{{/post}}