{{!< default}}

{{!-- TAG --}}
<section class="section-tag-page">
    <header>
        {{#tag}}
        <div class="single-featured-image cover is-relative"
            style="background-color:{{accent_color}}; background-image: url('{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/default-thumb.png" }}{{/if}}')">
            <div class="section-tag-cover"></div>
            <div class="section-tag-info">
                <h1 class="title is-uppercase has-text-white tag-info-title">
                    <span class="icon-text">
                        <span class="icon">
                          <i class="gg-hashtag"></i>
                        </span>
                        <span>{{name}}</span>
                    </span>
                </h1>
                <p class="tag-info-description">{{description}}</p>
                <span class="tag-info-count is-uppercase is-nunito-black">
                    {{plural ../pagination.total empty=(t "NO-POSTS") singular=(t "ONE-POST") plural=(t "MORE-POSTS")}}
                </span>
            </div>
        </div>
        {{/tag}}
    </header>

    {{!-- main --}}
    {{> main}}
</section>

{{!-- PAGINATION --}}
{{pagination}}