/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## POST ARCHIVE PAGE ########## */
ul.post-archive {
    margin-left: 0 !important;
    line-height: 2 !important;
}

.post-archive-item {
    display: flex;
    justify-content: start;
    align-items: normal;
    flex-wrap: nowrap;
    line-height: 2 !important;
}

.post-archive-item .date {
    margin-right: 0.75rem;
}

.post-archive-item a {
    border-bottom: 0 !important;
}

.post-archive-item .authors,
.post-archive-item .authors a {
    color: #888;
    font-size: 0.9rem;
}

.post-archive .post-archive-item time {
    white-space: nowrap;
    width: 75px;
}

.post-wrap .card-post-content hr {
    background: linear-gradient(90deg,
            rgba(254, 22, 97, 0.6) 0%,
            rgba(22, 93, 254, 0.5) 100%);
}