/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## AUTHOR PAGE ########## */
.section-author-cover {
    background: var(--bg-dark-primary);
    opacity: 0.6;
}

.section-author-info {
    text-align: center;
    align-items: center;
    display: grid;
    color: var(--txt-color-on-bg-dark);
    padding: 150px;
}

.section-author-cover,
.section-author-info {
    position: absolute;
    width: 100%;
    height: 500px;
}

.section-author-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section-author-info .author-info-count {
    background-color: var(--bg-dark-primary);
    margin: 10px auto;
    padding: 14px 28px;
    border-radius: 2px;
}

.section-author-info .author-info-bio {
    margin: 0 auto;
    width: 60%;
}