/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION COMMUNITY ########## */
.section-community .hero-body {
    background-image: url("/assets/images/polka-dots.svg"),
        linear-gradient(315deg, #4b1496 0%, #b10083 74%);
    padding: 40px 40px;
}

.section-community .hero-body .level-item div {
    background-color: rgba(46, 52, 64, 0.5);
    width: 158px;
    height: 120px;
}