/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## CUSTOM PAGES (*-archive.hbs) ########## */

/*
## TAG ARCHIVE */
.tag-archive-title,
.post-archive-title,
.featured-archive-title {
    padding: 50px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
}

.post-archive-item .date time {
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 4px;
    color: var(--txt-color-on-bg-dark);
}