/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## ERROR PAGE ########## */
.error-wrap,
.error404-wrap {
    margin-top: 25px;
    padding: 50px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: var(--txt-color-on-bg-light);
    border: 5px solid var(--primary-color);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.error-code,
.error404-code {
    font-size: 250px;
    text-shadow: 4px 4px 8px var(--txt-color-on-bg-light);
    line-height: 1;
}

.error-wrap button,
.error404-wrap button {
    margin-top: 25px;
}