/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION EXPLORE ########## */

.section-explore .card-tag-image .image a img {
    object-fit: cover;
}

.section-explore .card-tag-image .image a img,
.section-explore .card-tag-content,
.section-explore .card-tag {
    border-radius: 0px;
}

.section-explore .card-tag-content {
    background-color: var(--bg-light-secondary);
    color: var(--txt-color-on-bg-light);
}

.section-explore .card-tag-content-description {
    min-height: 85px;
}

.section-explore .card-tag-content-media .subtitle {
    color: var(--txt-color-on-bg-light);
}