/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## FOOTER ########## */
.footer {
    background-color: var(--primary-color);
    padding: 30px;
    margin-top: 25px;
    border-top: 5px solid var(--primary-color);
    color: var(--txt-color-on-bg-dark);
}

.footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer .footer-inside hr {
    border: 0;
    height: 1px;
    background-color: var(--color-white);
    max-width: 15em;
    margin: 1em auto;
}

.footer-with-copyleft {
    background-color: var(--footer-bg-secondary);
    padding: 5px;
}

.footer-with-copyleft p {
    margin: 25px;
    color: var(--txt-color-on-bg-dark);
    font-size: 14px;
}

.footer p,
.footer-with-love p {
    margin-bottom: 0px;
    color: var(--txt-color-on-bg-dark);
}

.footer-with-love {
    background-color: var(--footer-bg-primary);
    padding: 10px;
}

.footer-with-love p {
    margin-top: 0px;
    font-size: 12px;
    letter-spacing: 2px;
}

.footer-with-love .gg-heart {
    color: var(--color-red);
    margin: 5px 10px 0px 10px;
}