/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## NAVBAR: SUPER MENU ########## */
.megamenu-posts {
    padding: 25px 15px;
}

.m-recent-articles {
    top: 0;
    width: 100%;
}

.m-recent-article-picture .m-recent-article-image {
    min-height: 180px;
}

.m-recent-article-picture .m-recent-article-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.m-recent-article-title {
    color: var(--primary-color);
    transition: all 0.5s;
    padding: 10px;
}

.m-recent-article-title h4 {
    font-size: 15px;
}

.m-data-article a {
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 10px;
}

.js-sm-submenu {
    display: none;
}

.js-super-menu.is-active .js-sm-submenu {
    display: block;
    visibility: visible;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation: openSubmenuAnimation 0.3s both;
    animation: openSubmenuAnimation 0.3s both;
}

@-webkit-keyframes openSubmenuAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes openSubmenuAnimation {
    0% {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.js-super-menu .js-sm-submenu {
    width: 100%;
    position: absolute;
    top: 56px;
    height: 425px;
    left: 0;
    background-color: var(--bg-light-secondary);
}