/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## NAVBAR AND SUPERMENU ########## */
.navbar-grumium {
    background-color: var(--bg-light-secondary);
    color: var(--txt-color-on-bg-light);
    border-top: 6px solid var(--primary-color);
    height: 70px;
    margin-bottom: 0;
}

.navbar-brand .text-logo {
    color: var(--txt-color-on-bg-light);
    font-weight: 700;
    font-size: 1.5rem;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 30px;
    height: 65px;
    transform: .5seg all;
    margin-right: 25px;
}

.navbar-brand .text-logo a:hover {
    color: var(--txt-color-on-bg-light);
}

.navbar-brand .text-logo:hover .icon .gg-bolt {
    color: var(--primary-color);
    transform: .5seg all
}

.navbar-brand .navbar-burger {
    line-height: 30px;
    height: 65px;
}

#navbarPrimary .navbar-start .navbar-item {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

#navbarPrimary .navbar-start .navbar-item:hover {
    background-color: var(--bg-light-secondary);
    color: var(--primary-color);
}

#navbarPrimary .navbar-start .navbar-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: var(--primary-color);
    height: 3px;
    transition: all 0.5s;
}

#navbarPrimary .navbar-start .navbar-item:hover::after {
    width: 100%;
}

#navbarPrimary .navbar-start .js-sm-button {
    padding: 20px;
    height: 64px;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 4px;
    color: var(--primary-color);
}

#navbarPrimary .navbar-start .js-sm-button i {
    margin-left: 10px;
    font-size: 12px;
    color: var(--primary-color);
}