/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION NEXT POST ########## */
.section-navigation-posts {
    border-top: 2px solid var(--border-color);
    margin-top: 25px;
}

.navigation-next,
.navigation-prev {
    width: 50%;
    padding: 25px 0px;
}

.navigation-next a,
.navigation-prev a {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
}

.navigation-next a h5,
.navigation-prev a h5 {
    font-weight: 200;
    margin-top: 10px;
    font-size: 12px !important;
}