/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## PAGE ########## */
.section-page .page-article {
    background-color: var(--bg-light-secondary);
    border: none;
    padding: 50px;
    box-shadow: var(--shadow-base);
}