/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION SEARCH ########## */
#modal-search .modal-background {
    background-color: var(--bg-light-secondary);
}

#modal-search .modal-card-body {
    z-index: 50;
}

#modal-search #search-input,
#modal-search #search-close {
    background-color: var(--bg-light-primary);
    border: 1px solid transparent;
    border-radius: var(--without-radius);
    box-shadow: none;
}

#modal-search #search-input::placeholder {
    font-size: 16px;
}

#modal-search #search-close {
    margin-left: 15px;
}

#modal-search div.control span i {
    color: var(--txt-color-on-bg-light);
}

#modal-search div.control span i:hover {
    color: var(--primary-color);
}

#modal-search .modal-card,
#modal-search .modal-content {
    position: absolute;
    top: 40px;
}

.search-info-txt,
.search-info-count,
.search-info-results {
    font-weight: 900;
    font-size: 14px;
}

.search-info-count,
.search-info-results {
    display: none;
}

#search-results {
    width: 100%;
    background-color: var(--bg-light-secondary);
    overflow: hidden;
    display: none;
    padding: 15px;
    top: 150px;
}

#search-results .result-item {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 20px;
    padding: 20px;
}

#search-results .result-item a {
    border: 0px;
    display: block;
}

#search-results .result-item .result-title {
    color: var(--txt-color-on-bg-light);
    font-size: 25px;
    line-height: 1.5;
}

#search-results .result-item .result-date {
    font-size: 12px;
    letter-spacing: 1px;
}