/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## FOOTER ########## */
.footer-social {
    width: 100%;
}

.footer-social .icon,
.share-content .icon {
    position: relative;
    color: var(--txt-color-on-bg-light);
    background-color: var(--bg-light-secondary);
    border-radius: 2px;
    margin: 10px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social .tooltip,
.share-content .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: var(--bg-light-secondary);
    color: var(--txt-color-on-bg-dark);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social .tooltip::before,
.share-content .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: var(--bg-light-secondary);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social .icon:hover .tooltip,
.share-content .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footer-social .icon:hover img,
.share-content .icon:hover img {
    filter: invert(1);
}

.footer-social .icon:hover span,
.footer-social .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.mastodon:hover,
.mastodon:hover .tooltip,
.mastodon:hover .tooltip::before {
    background-color: var(--social-mastodon-color);
    color: var(--txt-color-on-bg-dark);
}

.xmpp:hover,
.xmpp:hover .tooltip,
.xmpp:hover .tooltip::before {
    background-color: var(--social-xmpp-color);
    color: var(--txt-color-on-bg-dark);
}

.diaspora:hover,
.diaspora:hover .tooltip,
.diaspora:hover .tooltip::before {
    background-color: var(--social-diaspora-color);
    color: var(--txt-color-on-bg-dark);
}

.telegram:hover,
.telegram:hover .tooltip,
.telegram:hover .tooltip::before {
    background-color: var(--social-telegram-color);
    color: var(--txt-color-on-bg-dark);
}

.rss:hover,
.rss:hover .tooltip,
.rss:hover .tooltip::before {
    background-color: var(--social-rss-color);
    color: var(--txt-color-on-bg-dark);
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
    background-color: var(--social-twitter-color);
    color: var(--txt-color-on-bg-dark);
}

.facebook:hover,
.facebook:hover .tooltip,
.facebook:hover .tooltip::before {
    background-color: var(--social-facebook-color);
    color: var(--txt-color-on-bg-dark);
}

.email:hover,
.email:hover .tooltip,
.email:hover .tooltip::before {
    background-color: var(--social-email-color);
    color: var(--txt-color-on-bg-dark);
}

.mastodon:hover span a i,
.xmpp:hover span a i,
.telegram:hover span a i,
.email:hover span a i,
.twitter:hover span a i,
.facebook:hover span a i {
    color: var(--txt-color-on-bg-dark);
}

.totop:hover,
.totop:hover .tooltip,
.totop:hover .tooltip::before {
    background-color: var(--primary-color);
    color: var(--txt-color-on-bg-dark);
}

.totop:hover,
.totop:hover .tooltip {
    border: 1px solid var(--color-white);
}