/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## TAG PAGE ########## */
.section-tag-cover {
    background: var(--bg-dark-primary);
    opacity: 0.6;
}

.section-tag-info {
    text-align: center;
    align-items: center;
    display: grid;
    color: var(--txt-color-on-bg-dark);
    padding: 150px;
}

.section-tag-cover,
.section-tag-info {
    position: absolute;
    width: 100%;
    height: 500px;
}

.section-tag-info .tag-info-count {
    background-color: var(--bg-dark-primary);
    margin: 10px auto;
    padding: 14px 28px;
    border-radius: 2px;
}

/*
## CUSTOM TAG ARCHIVE ########## */
.card-wrap {
    margin-bottom: 30px;
}

.tag-card {
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.tag-card.no-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.tag-card.no-image .tag-info {
    width: 100%;
}

.tag-card .tag-image {
    height: calc(90px + 3vw);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 0px #dddddd;
    background-color: #e9f0f3;
}

.tag-card .tag-image.noimg {
    background-color: #e9f0f3;
}

.tag-card .tag-image .mask {
    height: 100%;
    widows: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.tag-card:hover .tag-image .mask {
    background-color: transparent;
}

.tag-card .tag-info {
    padding: 16px;
    vertical-align: middle;
}

.tag-card .tag-info .tag-name {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.tag-card .tag-info .tag-name {
    text-transform: capitalize;
    color: #222;
    transition: all 0.25s;
}

.tag-card:hover .tag-info .tag-name {
    color: var(--primary-color);
}

.tag-card .tag-info .post-count {
    color: #222;
}

.tag-list-header .title span {
    padding: 0.5rem 1.5rem;
}