/*
  Icon Font: forkawesome
*/

@font-face {
  font-family: "forkawesome";
  src: url("./forkawesome.eot");
  src: url("./forkawesome.eot?#iefix") format("embedded-opentype"),
       url("./forkawesome.woff2") format("woff2"),
       url("./forkawesome.woff") format("woff"),
       url("./forkawesome.ttf") format("truetype"),
       url("./forkawesome.svg#forkawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "forkawesome";
    src: url("./forkawesome.svg#forkawesome") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-500px:before,
.fa-activitypub:before,
.fa-address-book:before,
.fa-address-book-o:before,
.fa-address-card:before,
.fa-address-card-o:before,
.fa-adjust:before,
.fa-adn:before,
.fa-align-center:before,
.fa-align-justify:before,
.fa-align-left:before,
.fa-align-right:before,
.fa-amazon:before,
.fa-ambulance:before,
.fa-american-sign-language-interpreting:before,
.fa-anchor:before,
.fa-android:before,
.fa-angellist:before,
.fa-angle-double-down:before,
.fa-angle-double-left:before,
.fa-angle-double-right:before,
.fa-angle-double-up:before,
.fa-angle-down:before,
.fa-angle-left:before,
.fa-angle-right:before,
.fa-angle-up:before,
.fa-apple:before,
.fa-archive:before,
.fa-archive-org:before,
.fa-archlinux:before,
.fa-area-chart:before,
.fa-arrow-circle-down:before,
.fa-arrow-circle-left:before,
.fa-arrow-circle-o-down:before,
.fa-arrow-circle-o-left:before,
.fa-arrow-circle-o-right:before,
.fa-arrow-circle-o-up:before,
.fa-arrow-circle-right:before,
.fa-arrow-circle-up:before,
.fa-arrow-down:before,
.fa-arrow-left:before,
.fa-arrow-right:before,
.fa-arrow-up:before,
.fa-arrows:before,
.fa-arrows-alt:before,
.fa-arrows-h:before,
.fa-arrows-v:before,
.fa-artstation:before,
.fa-askfm:before,
.fa-assistive-listening-systems:before,
.fa-asterisk:before,
.fa-at:before,
.fa-att:before,
.fa-audio-description:before,
.fa-backward:before,
.fa-balance-scale:before,
.fa-ban:before,
.fa-bandcamp:before,
.fa-bar-chart:before,
.fa-barcode:before,
.fa-bars:before,
.fa-bath:before,
.fa-battery-empty:before,
.fa-battery-full:before,
.fa-battery-half:before,
.fa-battery-quarter:before,
.fa-battery-three-quarters:before,
.fa-bed:before,
.fa-beer:before,
.fa-behance:before,
.fa-behance-square:before,
.fa-bell:before,
.fa-bell-o:before,
.fa-bell-ringing:before,
.fa-bell-ringing-o:before,
.fa-bell-slash:before,
.fa-bell-slash-o:before,
.fa-bicycle:before,
.fa-binoculars:before,
.fa-biometric:before,
.fa-birthday-cake:before,
.fa-bitbucket:before,
.fa-bitbucket-square:before,
.fa-black-tie:before,
.fa-blind:before,
.fa-blockstack:before,
.fa-bluetooth:before,
.fa-bluetooth-b:before,
.fa-boardgamegeek:before,
.fa-bold:before,
.fa-bolt:before,
.fa-bomb:before,
.fa-book:before,
.fa-bookmark:before,
.fa-bookmark-o:before,
.fa-bootstrap:before,
.fa-braille:before,
.fa-briefcase:before,
.fa-btc:before,
.fa-bug:before,
.fa-building:before,
.fa-building-o:before,
.fa-bullhorn:before,
.fa-bullseye:before,
.fa-bunny:before,
.fa-bus:before,
.fa-buymeacoffee:before,
.fa-buysellads:before,
.fa-c:before,
.fa-calculator:before,
.fa-calendar:before,
.fa-calendar-check-o:before,
.fa-calendar-minus-o:before,
.fa-calendar-o:before,
.fa-calendar-plus-o:before,
.fa-calendar-times-o:before,
.fa-camera:before,
.fa-camera-retro:before,
.fa-canonical:before,
.fa-car:before,
.fa-caret-down:before,
.fa-caret-left:before,
.fa-caret-right:before,
.fa-caret-square-o-down:before,
.fa-caret-square-o-left:before,
.fa-caret-square-o-right:before,
.fa-caret-square-o-up:before,
.fa-caret-up:before,
.fa-cart-arrow-down:before,
.fa-cart-plus:before,
.fa-cc:before,
.fa-cc-amex:before,
.fa-cc-by:before,
.fa-cc-cc:before,
.fa-cc-diners-club:before,
.fa-cc-discover:before,
.fa-cc-jcb:before,
.fa-cc-mastercard:before,
.fa-cc-nc:before,
.fa-cc-nc-eu:before,
.fa-cc-nc-jp:before,
.fa-cc-nd:before,
.fa-cc-paypal:before,
.fa-cc-pd:before,
.fa-cc-remix:before,
.fa-cc-sa:before,
.fa-cc-share:before,
.fa-cc-stripe:before,
.fa-cc-visa:before,
.fa-cc-zero:before,
.fa-certificate:before,
.fa-chain-broken:before,
.fa-check:before,
.fa-check-circle:before,
.fa-check-circle-o:before,
.fa-check-square:before,
.fa-check-square-o:before,
.fa-chevron-circle-down:before,
.fa-chevron-circle-left:before,
.fa-chevron-circle-right:before,
.fa-chevron-circle-up:before,
.fa-chevron-down:before,
.fa-chevron-left:before,
.fa-chevron-right:before,
.fa-chevron-up:before,
.fa-child:before,
.fa-chrome:before,
.fa-circle:before,
.fa-circle-o:before,
.fa-circle-o-notch:before,
.fa-circle-thin:before,
.fa-classicpress:before,
.fa-classicpress-circle:before,
.fa-clipboard:before,
.fa-clock-o:before,
.fa-clone:before,
.fa-cloud:before,
.fa-cloud-download:before,
.fa-cloud-upload:before,
.fa-code:before,
.fa-code-fork:before,
.fa-codeberg:before,
.fa-codepen:before,
.fa-codiepie:before,
.fa-coffee:before,
.fa-cog:before,
.fa-cogs:before,
.fa-columns:before,
.fa-comment:before,
.fa-comment-o:before,
.fa-commenting:before,
.fa-commenting-o:before,
.fa-comments:before,
.fa-comments-o:before,
.fa-compass:before,
.fa-compress:before,
.fa-connectdevelop:before,
.fa-contao:before,
.fa-conway-glider:before,
.fa-copyright:before,
.fa-creative-commons:before,
.fa-credit-card:before,
.fa-credit-card-alt:before,
.fa-crop:before,
.fa-crosshairs:before,
.fa-csharp:before,
.fa-css3:before,
.fa-cube:before,
.fa-cubes:before,
.fa-cutlery:before,
.fa-dashcube:before,
.fa-database:before,
.fa-deaf:before,
.fa-debian:before,
.fa-delicious:before,
.fa-desktop:before,
.fa-dev-to:before,
.fa-deviantart:before,
.fa-diamond:before,
.fa-diaspora:before,
.fa-digg:before,
.fa-digitalocean:before,
.fa-discord:before,
.fa-discord-alt:before,
.fa-discourse:before,
.fa-dogmazic:before,
.fa-dot-circle-o:before,
.fa-download:before,
.fa-dribbble:before,
.fa-dropbox:before,
.fa-drupal:before,
.fa-edge:before,
.fa-eercast:before,
.fa-eject:before,
.fa-ellipsis-h:before,
.fa-ellipsis-v:before,
.fa-email-bulk:before,
.fa-email-bulk-o:before,
.fa-emby:before,
.fa-empire:before,
.fa-envelope:before,
.fa-envelope-o:before,
.fa-envelope-open:before,
.fa-envelope-open-o:before,
.fa-envelope-square:before,
.fa-envira:before,
.fa-eraser:before,
.fa-ethereum:before,
.fa-etsy:before,
.fa-eur:before,
.fa-exchange:before,
.fa-exclamation:before,
.fa-exclamation-circle:before,
.fa-exclamation-triangle:before,
.fa-expand:before,
.fa-expeditedssl:before,
.fa-external-link:before,
.fa-external-link-square:before,
.fa-eye:before,
.fa-eye-slash:before,
.fa-eyedropper:before,
.fa-eyeem:before,
.fa-eyeem-o:before,
.fa-f-droid:before,
.fa-facebook:before,
.fa-facebook-messenger:before,
.fa-facebook-official:before,
.fa-facebook-square:before,
.fa-fast-backward:before,
.fa-fast-forward:before,
.fa-fax:before,
.fa-fediverse:before,
.fa-female:before,
.fa-ffmpeg:before,
.fa-fighter-jet:before,
.fa-file:before,
.fa-file-archive-o:before,
.fa-file-audio-o:before,
.fa-file-code-o:before,
.fa-file-epub:before,
.fa-file-excel-o:before,
.fa-file-image-o:before,
.fa-file-o:before,
.fa-file-pdf-o:before,
.fa-file-powerpoint-o:before,
.fa-file-text:before,
.fa-file-text-o:before,
.fa-file-video-o:before,
.fa-file-word-o:before,
.fa-files-o:before,
.fa-film:before,
.fa-filter:before,
.fa-fire:before,
.fa-fire-extinguisher:before,
.fa-firefox:before,
.fa-first-order:before,
.fa-flag:before,
.fa-flag-checkered:before,
.fa-flag-o:before,
.fa-flask:before,
.fa-flickr:before,
.fa-floppy-o:before,
.fa-folder:before,
.fa-folder-o:before,
.fa-folder-open:before,
.fa-folder-open-o:before,
.fa-font:before,
.fa-font-awesome:before,
.fa-fonticons:before,
.fa-fork-awesome:before,
.fa-fort-awesome:before,
.fa-forumbee:before,
.fa-forward:before,
.fa-foursquare:before,
.fa-free-code-camp:before,
.fa-freedesktop:before,
.fa-freedombox:before,
.fa-friendica:before,
.fa-frown-o:before,
.fa-funkwhale:before,
.fa-futbol-o:before,
.fa-gamepad:before,
.fa-gavel:before,
.fa-gbp:before,
.fa-genderless:before,
.fa-get-pocket:before,
.fa-gg:before,
.fa-gg-circle:before,
.fa-gift:before,
.fa-gimp:before,
.fa-git:before,
.fa-git-square:before,
.fa-gitea:before,
.fa-github:before,
.fa-github-alt:before,
.fa-github-square:before,
.fa-gitlab:before,
.fa-glass:before,
.fa-glide:before,
.fa-glide-g:before,
.fa-globe:before,
.fa-globe-e:before,
.fa-globe-w:before,
.fa-gnu:before,
.fa-gnu-social:before,
.fa-gnupg:before,
.fa-google:before,
.fa-google-play:before,
.fa-google-plus:before,
.fa-google-plus-official:before,
.fa-google-plus-square:before,
.fa-google-wallet:before,
.fa-graduation-cap:before,
.fa-gratipay:before,
.fa-grav:before,
.fa-h-square:before,
.fa-hackaday:before,
.fa-hacker-news:before,
.fa-hackster:before,
.fa-hal:before,
.fa-hand-lizard-o:before,
.fa-hand-o-down:before,
.fa-hand-o-left:before,
.fa-hand-o-right:before,
.fa-hand-o-up:before,
.fa-hand-paper-o:before,
.fa-hand-peace-o:before,
.fa-hand-pointer-o:before,
.fa-hand-rock-o:before,
.fa-hand-scissors-o:before,
.fa-hand-spock-o:before,
.fa-handshake-o:before,
.fa-hashnode:before,
.fa-hashtag:before,
.fa-hdd-o:before,
.fa-header:before,
.fa-headphones:before,
.fa-heart:before,
.fa-heart-o:before,
.fa-heartbeat:before,
.fa-hedgedoc:before,
.fa-heroku:before,
.fa-history:before,
.fa-home:before,
.fa-home-assistant:before,
.fa-hospital-o:before,
.fa-hourglass:before,
.fa-hourglass-end:before,
.fa-hourglass-half:before,
.fa-hourglass-o:before,
.fa-hourglass-start:before,
.fa-houzz:before,
.fa-html5:before,
.fa-hubzilla:before,
.fa-i-cursor:before,
.fa-id-badge:before,
.fa-id-card:before,
.fa-id-card-o:before,
.fa-ils:before,
.fa-imdb:before,
.fa-inbox:before,
.fa-indent:before,
.fa-industry:before,
.fa-info:before,
.fa-info-circle:before,
.fa-inkscape:before,
.fa-inr:before,
.fa-instagram:before,
.fa-internet-explorer:before,
.fa-ioxhost:before,
.fa-ipfs:before,
.fa-italic:before,
.fa-java:before,
.fa-javascript:before,
.fa-jirafeau:before,
.fa-joomla:before,
.fa-joplin:before,
.fa-jpy:before,
.fa-jsfiddle:before,
.fa-julia:before,
.fa-jupyter:before,
.fa-key:before,
.fa-key-modern:before,
.fa-keybase:before,
.fa-keyboard-o:before,
.fa-krw:before,
.fa-language:before,
.fa-laptop:before,
.fa-laravel:before,
.fa-lastfm:before,
.fa-lastfm-square:before,
.fa-leaf:before,
.fa-leanpub:before,
.fa-lemmy:before,
.fa-lemon-o:before,
.fa-level-down:before,
.fa-level-up:before,
.fa-liberapay:before,
.fa-liberapay-square:before,
.fa-life-ring:before,
.fa-lightbulb-o:before,
.fa-line-chart:before,
.fa-link:before,
.fa-linkedin:before,
.fa-linkedin-square:before,
.fa-linode:before,
.fa-linux:before,
.fa-list:before,
.fa-list-alt:before,
.fa-list-ol:before,
.fa-list-ul:before,
.fa-location-arrow:before,
.fa-lock:before,
.fa-long-arrow-down:before,
.fa-long-arrow-left:before,
.fa-long-arrow-right:before,
.fa-long-arrow-up:before,
.fa-low-vision:before,
.fa-magic:before,
.fa-magnet:before,
.fa-male:before,
.fa-map:before,
.fa-map-marker:before,
.fa-map-o:before,
.fa-map-pin:before,
.fa-map-signs:before,
.fa-mariadb:before,
.fa-markdown:before,
.fa-mars:before,
.fa-mars-double:before,
.fa-mars-stroke:before,
.fa-mars-stroke-h:before,
.fa-mars-stroke-v:before,
.fa-mastodon:before,
.fa-mastodon-alt:before,
.fa-mastodon-square:before,
.fa-matrix-org:before,
.fa-maxcdn:before,
.fa-meanpath:before,
.fa-medium:before,
.fa-medium-square:before,
.fa-medkit:before,
.fa-meetup:before,
.fa-meh-o:before,
.fa-mercury:before,
.fa-microchip:before,
.fa-microphone:before,
.fa-microphone-slash:before,
.fa-minus:before,
.fa-minus-circle:before,
.fa-minus-square:before,
.fa-minus-square-o:before,
.fa-mixcloud:before,
.fa-mobile:before,
.fa-modx:before,
.fa-money:before,
.fa-moon:before,
.fa-moon-o:before,
.fa-motorcycle:before,
.fa-mouse-pointer:before,
.fa-mumble:before,
.fa-music:before,
.fa-mysql:before,
.fa-neuter:before,
.fa-newspaper-o:before,
.fa-nextcloud:before,
.fa-nextcloud-square:before,
.fa-nodejs:before,
.fa-nordcast:before,
.fa-object-group:before,
.fa-object-ungroup:before,
.fa-odnoklassniki:before,
.fa-odnoklassniki-square:before,
.fa-open-collective:before,
.fa-opencart:before,
.fa-openid:before,
.fa-opera:before,
.fa-optin-monster:before,
.fa-orcid:before,
.fa-osi:before,
.fa-outdent:before,
.fa-pagelines:before,
.fa-paint-brush:before,
.fa-paper-plane:before,
.fa-paper-plane-o:before,
.fa-paperclip:before,
.fa-paragraph:before,
.fa-patreon:before,
.fa-pause:before,
.fa-pause-circle:before,
.fa-pause-circle-o:before,
.fa-paw:before,
.fa-paypal:before,
.fa-peertube:before,
.fa-pencil:before,
.fa-pencil-square:before,
.fa-pencil-square-o:before,
.fa-percent:before,
.fa-phone:before,
.fa-phone-square:before,
.fa-php:before,
.fa-picture-o:before,
.fa-pie-chart:before,
.fa-pinterest:before,
.fa-pinterest-p:before,
.fa-pinterest-square:before,
.fa-pixelfed:before,
.fa-plane:before,
.fa-play:before,
.fa-play-circle:before,
.fa-play-circle-o:before,
.fa-pleroma:before,
.fa-plug:before,
.fa-plume:before,
.fa-plus:before,
.fa-plus-circle:before,
.fa-plus-square:before,
.fa-plus-square-o:before,
.fa-podcast:before,
.fa-postgresql:before,
.fa-power-off:before,
.fa-print:before,
.fa-product-hunt:before,
.fa-proftpd:before,
.fa-puzzle-piece:before,
.fa-python:before,
.fa-qq:before,
.fa-qrcode:before,
.fa-question:before,
.fa-question-circle:before,
.fa-question-circle-o:before,
.fa-quora:before,
.fa-quote-left:before,
.fa-quote-right:before,
.fa-random:before,
.fa-ravelry:before,
.fa-react:before,
.fa-rebel:before,
.fa-recycle:before,
.fa-reddit:before,
.fa-reddit-alien:before,
.fa-reddit-square:before,
.fa-refresh:before,
.fa-registered:before,
.fa-renren:before,
.fa-repeat:before,
.fa-reply:before,
.fa-reply-all:before,
.fa-researchgate:before,
.fa-retweet:before,
.fa-road:before,
.fa-rocket:before,
.fa-rss:before,
.fa-rss-square:before,
.fa-rub:before,
.fa-safari:before,
.fa-sass:before,
.fa-sass-alt:before,
.fa-scissors:before,
.fa-scribd:before,
.fa-scuttlebutt:before,
.fa-search:before,
.fa-search-minus:before,
.fa-search-plus:before,
.fa-sellsy:before,
.fa-server:before,
.fa-shaarli:before,
.fa-shaarli-o:before,
.fa-share:before,
.fa-share-alt:before,
.fa-share-alt-square:before,
.fa-share-square:before,
.fa-share-square-o:before,
.fa-shield:before,
.fa-ship:before,
.fa-shirtsinbulk:before,
.fa-shopping-bag:before,
.fa-shopping-basket:before,
.fa-shopping-cart:before,
.fa-shower:before,
.fa-sign-in:before,
.fa-sign-language:before,
.fa-sign-out:before,
.fa-signal:before,
.fa-signalapp:before,
.fa-simplybuilt:before,
.fa-sitemap:before,
.fa-skate:before,
.fa-sketchfab:before,
.fa-skyatlas:before,
.fa-skype:before,
.fa-slack:before,
.fa-sliders:before,
.fa-slideshare:before,
.fa-smile-o:before,
.fa-snapchat:before,
.fa-snapchat-ghost:before,
.fa-snapchat-square:before,
.fa-snowdrift:before,
.fa-snowflake-o:before,
.fa-social-home:before,
.fa-sort:before,
.fa-sort-alpha-asc:before,
.fa-sort-alpha-desc:before,
.fa-sort-amount-asc:before,
.fa-sort-amount-desc:before,
.fa-sort-asc:before,
.fa-sort-desc:before,
.fa-sort-numeric-asc:before,
.fa-sort-numeric-desc:before,
.fa-soundcloud:before,
.fa-space-shuttle:before,
.fa-spell-check:before,
.fa-spinner:before,
.fa-spoon:before,
.fa-spotify:before,
.fa-square:before,
.fa-square-o:before,
.fa-stack-exchange:before,
.fa-stack-overflow:before,
.fa-star:before,
.fa-star-half:before,
.fa-star-half-o:before,
.fa-star-o:before,
.fa-steam:before,
.fa-steam-square:before,
.fa-step-backward:before,
.fa-step-forward:before,
.fa-stethoscope:before,
.fa-sticky-note:before,
.fa-sticky-note-o:before,
.fa-stop:before,
.fa-stop-circle:before,
.fa-stop-circle-o:before,
.fa-street-view:before,
.fa-strikethrough:before,
.fa-stumbleupon:before,
.fa-stumbleupon-circle:before,
.fa-subscript:before,
.fa-subway:before,
.fa-suitcase:before,
.fa-sun:before,
.fa-sun-o:before,
.fa-superpowers:before,
.fa-superscript:before,
.fa-syncthing:before,
.fa-table:before,
.fa-tablet:before,
.fa-tachometer:before,
.fa-tag:before,
.fa-tags:before,
.fa-tasks:before,
.fa-taxi:before,
.fa-telegram:before,
.fa-television:before,
.fa-tencent-weibo:before,
.fa-terminal:before,
.fa-tex:before,
.fa-text-height:before,
.fa-text-width:before,
.fa-textpattern:before,
.fa-th:before,
.fa-th-large:before,
.fa-th-list:before,
.fa-themeisle:before,
.fa-thermometer-empty:before,
.fa-thermometer-full:before,
.fa-thermometer-half:before,
.fa-thermometer-quarter:before,
.fa-thermometer-three-quarters:before,
.fa-thumb-tack:before,
.fa-thumbs-down:before,
.fa-thumbs-o-down:before,
.fa-thumbs-o-up:before,
.fa-thumbs-up:before,
.fa-ticket:before,
.fa-times:before,
.fa-times-circle:before,
.fa-times-circle-o:before,
.fa-tint:before,
.fa-tipeee:before,
.fa-toggle-off:before,
.fa-toggle-on:before,
.fa-tor-onion:before,
.fa-trademark:before,
.fa-train:before,
.fa-transgender:before,
.fa-transgender-alt:before,
.fa-trash:before,
.fa-trash-o:before,
.fa-tree:before,
.fa-trello:before,
.fa-tripadvisor:before,
.fa-trophy:before,
.fa-truck:before,
.fa-try:before,
.fa-tty:before,
.fa-tumblr:before,
.fa-tumblr-square:before,
.fa-twitch:before,
.fa-twitter:before,
.fa-twitter-square:before,
.fa-ubuntu:before,
.fa-umbrella:before,
.fa-underline:before,
.fa-undo:before,
.fa-unity:before,
.fa-universal-access:before,
.fa-university:before,
.fa-unlock:before,
.fa-unlock-alt:before,
.fa-unslpash:before,
.fa-upload:before,
.fa-usb:before,
.fa-usd:before,
.fa-user:before,
.fa-user-circle:before,
.fa-user-circle-o:before,
.fa-user-md:before,
.fa-user-o:before,
.fa-user-plus:before,
.fa-user-secret:before,
.fa-user-times:before,
.fa-users:before,
.fa-venus:before,
.fa-venus-double:before,
.fa-venus-mars:before,
.fa-viacoin:before,
.fa-viadeo:before,
.fa-viadeo-square:before,
.fa-video-camera:before,
.fa-vimeo:before,
.fa-vimeo-square:before,
.fa-vine:before,
.fa-vk:before,
.fa-volume-control-phone:before,
.fa-volume-down:before,
.fa-volume-mute:before,
.fa-volume-off:before,
.fa-volume-up:before,
.fa-weibo:before,
.fa-weixin:before,
.fa-whatsapp:before,
.fa-wheelchair:before,
.fa-wheelchair-alt:before,
.fa-wifi:before,
.fa-wikidata:before,
.fa-wikipedia-w:before,
.fa-window-close:before,
.fa-window-close-o:before,
.fa-window-maximize:before,
.fa-window-minimize:before,
.fa-window-restore:before,
.fa-windows:before,
.fa-wire:before,
.fa-wordpress:before,
.fa-wpbeginner:before,
.fa-wpexplorer:before,
.fa-wpforms:before,
.fa-wrench:before,
.fa-xing:before,
.fa-xing-square:before,
.fa-xmpp:before,
.fa-y-combinator:before,
.fa-yahoo:before,
.fa-yelp:before,
.fa-yoast:before,
.fa-youtube:before,
.fa-youtube-play:before,
.fa-youtube-square:before,
.fa-zotero:before {
  display: inline-block;
  font-family: "forkawesome";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-500px:before { content: "\f26e"; }
.fa-activitypub:before { content: "\f2f2"; }
.fa-address-book:before { content: "\f2b9"; }
.fa-address-book-o:before { content: "\f2ba"; }
.fa-address-card:before { content: "\f2bb"; }
.fa-address-card-o:before { content: "\f2bc"; }
.fa-adjust:before { content: "\f042"; }
.fa-adn:before { content: "\f170"; }
.fa-align-center:before { content: "\f037"; }
.fa-align-justify:before { content: "\f039"; }
.fa-align-left:before { content: "\f036"; }
.fa-align-right:before { content: "\f038"; }
.fa-amazon:before { content: "\f270"; }
.fa-ambulance:before { content: "\f0f9"; }
.fa-american-sign-language-interpreting:before { content: "\f2a3"; }
.fa-anchor:before { content: "\f13d"; }
.fa-android:before { content: "\f17b"; }
.fa-angellist:before { content: "\f209"; }
.fa-angle-double-down:before { content: "\f103"; }
.fa-angle-double-left:before { content: "\f100"; }
.fa-angle-double-right:before { content: "\f101"; }
.fa-angle-double-up:before { content: "\f102"; }
.fa-angle-down:before { content: "\f107"; }
.fa-angle-left:before { content: "\f104"; }
.fa-angle-right:before { content: "\f105"; }
.fa-angle-up:before { content: "\f106"; }
.fa-apple:before { content: "\f179"; }
.fa-archive:before { content: "\f187"; }
.fa-archive-org:before { content: "\f2fc"; }
.fa-archlinux:before { content: "\f323"; }
.fa-area-chart:before { content: "\f1fe"; }
.fa-arrow-circle-down:before { content: "\f0ab"; }
.fa-arrow-circle-left:before { content: "\f0a8"; }
.fa-arrow-circle-o-down:before { content: "\f01a"; }
.fa-arrow-circle-o-left:before { content: "\f190"; }
.fa-arrow-circle-o-right:before { content: "\f18e"; }
.fa-arrow-circle-o-up:before { content: "\f01b"; }
.fa-arrow-circle-right:before { content: "\f0a9"; }
.fa-arrow-circle-up:before { content: "\f0aa"; }
.fa-arrow-down:before { content: "\f063"; }
.fa-arrow-left:before { content: "\f060"; }
.fa-arrow-right:before { content: "\f061"; }
.fa-arrow-up:before { content: "\f062"; }
.fa-arrows:before { content: "\f047"; }
.fa-arrows-alt:before { content: "\f0b2"; }
.fa-arrows-h:before { content: "\f07e"; }
.fa-arrows-v:before { content: "\f07d"; }
.fa-artstation:before { content: "\f2ed"; }
.fa-askfm:before { content: "\f33a"; }
.fa-assistive-listening-systems:before { content: "\f2a2"; }
.fa-asterisk:before { content: "\f069"; }
.fa-at:before { content: "\f1fa"; }
.fa-att:before { content: "\f31e"; }
.fa-audio-description:before { content: "\f29e"; }
.fa-backward:before { content: "\f04a"; }
.fa-balance-scale:before { content: "\f24e"; }
.fa-ban:before { content: "\f05e"; }
.fa-bandcamp:before { content: "\f2d5"; }
.fa-bar-chart:before { content: "\f080"; }
.fa-barcode:before { content: "\f02a"; }
.fa-bars:before { content: "\f0c9"; }
.fa-bath:before { content: "\f2cd"; }
.fa-battery-empty:before { content: "\f244"; }
.fa-battery-full:before { content: "\f240"; }
.fa-battery-half:before { content: "\f242"; }
.fa-battery-quarter:before { content: "\f243"; }
.fa-battery-three-quarters:before { content: "\f241"; }
.fa-bed:before { content: "\f236"; }
.fa-beer:before { content: "\f0fc"; }
.fa-behance:before { content: "\f1b4"; }
.fa-behance-square:before { content: "\f1b5"; }
.fa-bell:before { content: "\f0f3"; }
.fa-bell-o:before { content: "\f0a2"; }
.fa-bell-ringing:before { content: "\f32d"; }
.fa-bell-ringing-o:before { content: "\f360"; }
.fa-bell-slash:before { content: "\f1f6"; }
.fa-bell-slash-o:before { content: "\f1f7"; }
.fa-bicycle:before { content: "\f206"; }
.fa-binoculars:before { content: "\f1e5"; }
.fa-biometric:before { content: "\f32b"; }
.fa-birthday-cake:before { content: "\f1fd"; }
.fa-bitbucket:before { content: "\f171"; }
.fa-bitbucket-square:before { content: "\f172"; }
.fa-black-tie:before { content: "\f27e"; }
.fa-blind:before { content: "\f29d"; }
.fa-blockstack:before { content: "\f33b"; }
.fa-bluetooth:before { content: "\f293"; }
.fa-bluetooth-b:before { content: "\f294"; }
.fa-boardgamegeek:before { content: "\f33c"; }
.fa-bold:before { content: "\f032"; }
.fa-bolt:before { content: "\f0e7"; }
.fa-bomb:before { content: "\f1e2"; }
.fa-book:before { content: "\f02d"; }
.fa-bookmark:before { content: "\f02e"; }
.fa-bookmark-o:before { content: "\f097"; }
.fa-bootstrap:before { content: "\f315"; }
.fa-braille:before { content: "\f2a1"; }
.fa-briefcase:before { content: "\f0b1"; }
.fa-btc:before { content: "\f15a"; }
.fa-bug:before { content: "\f188"; }
.fa-building:before { content: "\f1ad"; }
.fa-building-o:before { content: "\f0f7"; }
.fa-bullhorn:before { content: "\f0a1"; }
.fa-bullseye:before { content: "\f140"; }
.fa-bunny:before { content: "\f35f"; }
.fa-bus:before { content: "\f207"; }
.fa-buymeacoffee:before { content: "\f33d"; }
.fa-buysellads:before { content: "\f20d"; }
.fa-c:before { content: "\f31c"; }
.fa-calculator:before { content: "\f1ec"; }
.fa-calendar:before { content: "\f073"; }
.fa-calendar-check-o:before { content: "\f274"; }
.fa-calendar-minus-o:before { content: "\f272"; }
.fa-calendar-o:before { content: "\f133"; }
.fa-calendar-plus-o:before { content: "\f271"; }
.fa-calendar-times-o:before { content: "\f273"; }
.fa-camera:before { content: "\f030"; }
.fa-camera-retro:before { content: "\f083"; }
.fa-canonical:before { content: "\f361"; }
.fa-car:before { content: "\f1b9"; }
.fa-caret-down:before { content: "\f0d7"; }
.fa-caret-left:before { content: "\f0d9"; }
.fa-caret-right:before { content: "\f0da"; }
.fa-caret-square-o-down:before { content: "\f150"; }
.fa-caret-square-o-left:before { content: "\f191"; }
.fa-caret-square-o-right:before { content: "\f152"; }
.fa-caret-square-o-up:before { content: "\f151"; }
.fa-caret-up:before { content: "\f0d8"; }
.fa-cart-arrow-down:before { content: "\f218"; }
.fa-cart-plus:before { content: "\f217"; }
.fa-cc:before { content: "\f20a"; }
.fa-cc-amex:before { content: "\f1f3"; }
.fa-cc-by:before { content: "\f33e"; }
.fa-cc-cc:before { content: "\f33f"; }
.fa-cc-diners-club:before { content: "\f24c"; }
.fa-cc-discover:before { content: "\f1f2"; }
.fa-cc-jcb:before { content: "\f24b"; }
.fa-cc-mastercard:before { content: "\f1f1"; }
.fa-cc-nc:before { content: "\f340"; }
.fa-cc-nc-eu:before { content: "\f341"; }
.fa-cc-nc-jp:before { content: "\f342"; }
.fa-cc-nd:before { content: "\f343"; }
.fa-cc-paypal:before { content: "\f1f4"; }
.fa-cc-pd:before { content: "\f344"; }
.fa-cc-remix:before { content: "\f345"; }
.fa-cc-sa:before { content: "\f346"; }
.fa-cc-share:before { content: "\f347"; }
.fa-cc-stripe:before { content: "\f1f5"; }
.fa-cc-visa:before { content: "\f1f0"; }
.fa-cc-zero:before { content: "\f348"; }
.fa-certificate:before { content: "\f0a3"; }
.fa-chain-broken:before { content: "\f127"; }
.fa-check:before { content: "\f00c"; }
.fa-check-circle:before { content: "\f058"; }
.fa-check-circle-o:before { content: "\f05d"; }
.fa-check-square:before { content: "\f14a"; }
.fa-check-square-o:before { content: "\f046"; }
.fa-chevron-circle-down:before { content: "\f13a"; }
.fa-chevron-circle-left:before { content: "\f137"; }
.fa-chevron-circle-right:before { content: "\f138"; }
.fa-chevron-circle-up:before { content: "\f139"; }
.fa-chevron-down:before { content: "\f078"; }
.fa-chevron-left:before { content: "\f053"; }
.fa-chevron-right:before { content: "\f054"; }
.fa-chevron-up:before { content: "\f077"; }
.fa-child:before { content: "\f1ae"; }
.fa-chrome:before { content: "\f268"; }
.fa-circle:before { content: "\f111"; }
.fa-circle-o:before { content: "\f10c"; }
.fa-circle-o-notch:before { content: "\f1ce"; }
.fa-circle-thin:before { content: "\f1db"; }
.fa-classicpress:before { content: "\f331"; }
.fa-classicpress-circle:before { content: "\f332"; }
.fa-clipboard:before { content: "\f0ea"; }
.fa-clock-o:before { content: "\f017"; }
.fa-clone:before { content: "\f24d"; }
.fa-cloud:before { content: "\f0c2"; }
.fa-cloud-download:before { content: "\f0ed"; }
.fa-cloud-upload:before { content: "\f0ee"; }
.fa-code:before { content: "\f121"; }
.fa-code-fork:before { content: "\f126"; }
.fa-codeberg:before { content: "\f362"; }
.fa-codepen:before { content: "\f1cb"; }
.fa-codiepie:before { content: "\f284"; }
.fa-coffee:before { content: "\f0f4"; }
.fa-cog:before { content: "\f013"; }
.fa-cogs:before { content: "\f085"; }
.fa-columns:before { content: "\f0db"; }
.fa-comment:before { content: "\f075"; }
.fa-comment-o:before { content: "\f0e5"; }
.fa-commenting:before { content: "\f27a"; }
.fa-commenting-o:before { content: "\f27b"; }
.fa-comments:before { content: "\f086"; }
.fa-comments-o:before { content: "\f0e6"; }
.fa-compass:before { content: "\f14e"; }
.fa-compress:before { content: "\f066"; }
.fa-connectdevelop:before { content: "\f20e"; }
.fa-contao:before { content: "\f26d"; }
.fa-conway-glider:before { content: "\f349"; }
.fa-copyright:before { content: "\f1f9"; }
.fa-creative-commons:before { content: "\f25e"; }
.fa-credit-card:before { content: "\f09d"; }
.fa-credit-card-alt:before { content: "\f283"; }
.fa-crop:before { content: "\f125"; }
.fa-crosshairs:before { content: "\f05b"; }
.fa-csharp:before { content: "\f34a"; }
.fa-css3:before { content: "\f13c"; }
.fa-cube:before { content: "\f1b2"; }
.fa-cubes:before { content: "\f1b3"; }
.fa-cutlery:before { content: "\f0f5"; }
.fa-dashcube:before { content: "\f210"; }
.fa-database:before { content: "\f1c0"; }
.fa-deaf:before { content: "\f2a4"; }
.fa-debian:before { content: "\f2ff"; }
.fa-delicious:before { content: "\f1a5"; }
.fa-desktop:before { content: "\f108"; }
.fa-dev-to:before { content: "\f316"; }
.fa-deviantart:before { content: "\f1bd"; }
.fa-diamond:before { content: "\f219"; }
.fa-diaspora:before { content: "\f2e5"; }
.fa-digg:before { content: "\f1a6"; }
.fa-digitalocean:before { content: "\f31d"; }
.fa-discord:before { content: "\f2ee"; }
.fa-discord-alt:before { content: "\f2ef"; }
.fa-discourse:before { content: "\f363"; }
.fa-dogmazic:before { content: "\f303"; }
.fa-dot-circle-o:before { content: "\f192"; }
.fa-download:before { content: "\f019"; }
.fa-dribbble:before { content: "\f17d"; }
.fa-dropbox:before { content: "\f16b"; }
.fa-drupal:before { content: "\f1a9"; }
.fa-edge:before { content: "\f282"; }
.fa-eercast:before { content: "\f2da"; }
.fa-eject:before { content: "\f052"; }
.fa-ellipsis-h:before { content: "\f141"; }
.fa-ellipsis-v:before { content: "\f142"; }
.fa-email-bulk:before { content: "\f34b"; }
.fa-email-bulk-o:before { content: "\f34c"; }
.fa-emby:before { content: "\f319"; }
.fa-empire:before { content: "\f1d1"; }
.fa-envelope:before { content: "\f0e0"; }
.fa-envelope-o:before { content: "\f003"; }
.fa-envelope-open:before { content: "\f2b6"; }
.fa-envelope-open-o:before { content: "\f2b7"; }
.fa-envelope-square:before { content: "\f199"; }
.fa-envira:before { content: "\f299"; }
.fa-eraser:before { content: "\f12d"; }
.fa-ethereum:before { content: "\f2f3"; }
.fa-etsy:before { content: "\f2d7"; }
.fa-eur:before { content: "\f153"; }
.fa-exchange:before { content: "\f0ec"; }
.fa-exclamation:before { content: "\f12a"; }
.fa-exclamation-circle:before { content: "\f06a"; }
.fa-exclamation-triangle:before { content: "\f071"; }
.fa-expand:before { content: "\f065"; }
.fa-expeditedssl:before { content: "\f23e"; }
.fa-external-link:before { content: "\f08e"; }
.fa-external-link-square:before { content: "\f14c"; }
.fa-eye:before { content: "\f06e"; }
.fa-eye-slash:before { content: "\f070"; }
.fa-eyedropper:before { content: "\f1fb"; }
.fa-eyeem:before { content: "\f364"; }
.fa-eyeem-o:before { content: "\f365"; }
.fa-f-droid:before { content: "\f32a"; }
.fa-facebook:before { content: "\f09a"; }
.fa-facebook-messenger:before { content: "\f2fe"; }
.fa-facebook-official:before { content: "\f230"; }
.fa-facebook-square:before { content: "\f082"; }
.fa-fast-backward:before { content: "\f049"; }
.fa-fast-forward:before { content: "\f050"; }
.fa-fax:before { content: "\f1ac"; }
.fa-fediverse:before { content: "\f366"; }
.fa-female:before { content: "\f182"; }
.fa-ffmpeg:before { content: "\f30f"; }
.fa-fighter-jet:before { content: "\f0fb"; }
.fa-file:before { content: "\f15b"; }
.fa-file-archive-o:before { content: "\f1c6"; }
.fa-file-audio-o:before { content: "\f1c7"; }
.fa-file-code-o:before { content: "\f1c9"; }
.fa-file-epub:before { content: "\f321"; }
.fa-file-excel-o:before { content: "\f1c3"; }
.fa-file-image-o:before { content: "\f1c5"; }
.fa-file-o:before { content: "\f016"; }
.fa-file-pdf-o:before { content: "\f1c1"; }
.fa-file-powerpoint-o:before { content: "\f1c4"; }
.fa-file-text:before { content: "\f15c"; }
.fa-file-text-o:before { content: "\f0f6"; }
.fa-file-video-o:before { content: "\f1c8"; }
.fa-file-word-o:before { content: "\f1c2"; }
.fa-files-o:before { content: "\f0c5"; }
.fa-film:before { content: "\f008"; }
.fa-filter:before { content: "\f0b0"; }
.fa-fire:before { content: "\f06d"; }
.fa-fire-extinguisher:before { content: "\f134"; }
.fa-firefox:before { content: "\f269"; }
.fa-first-order:before { content: "\f2b0"; }
.fa-flag:before { content: "\f024"; }
.fa-flag-checkered:before { content: "\f11e"; }
.fa-flag-o:before { content: "\f11d"; }
.fa-flask:before { content: "\f0c3"; }
.fa-flickr:before { content: "\f16e"; }
.fa-floppy-o:before { content: "\f0c7"; }
.fa-folder:before { content: "\f07b"; }
.fa-folder-o:before { content: "\f114"; }
.fa-folder-open:before { content: "\f07c"; }
.fa-folder-open-o:before { content: "\f115"; }
.fa-font:before { content: "\f031"; }
.fa-font-awesome:before { content: "\f2b4"; }
.fa-fonticons:before { content: "\f280"; }
.fa-fork-awesome:before { content: "\f2e3"; }
.fa-fort-awesome:before { content: "\f286"; }
.fa-forumbee:before { content: "\f211"; }
.fa-forward:before { content: "\f04e"; }
.fa-foursquare:before { content: "\f180"; }
.fa-free-code-camp:before { content: "\f2c5"; }
.fa-freedesktop:before { content: "\f367"; }
.fa-freedombox:before { content: "\f2fd"; }
.fa-friendica:before { content: "\f2e6"; }
.fa-frown-o:before { content: "\f119"; }
.fa-funkwhale:before { content: "\f339"; }
.fa-futbol-o:before { content: "\f1e3"; }
.fa-gamepad:before { content: "\f11b"; }
.fa-gavel:before { content: "\f0e3"; }
.fa-gbp:before { content: "\f154"; }
.fa-genderless:before { content: "\f22d"; }
.fa-get-pocket:before { content: "\f265"; }
.fa-gg:before { content: "\f260"; }
.fa-gg-circle:before { content: "\f261"; }
.fa-gift:before { content: "\f06b"; }
.fa-gimp:before { content: "\f31b"; }
.fa-git:before { content: "\f1d3"; }
.fa-git-square:before { content: "\f1d2"; }
.fa-gitea:before { content: "\f31f"; }
.fa-github:before { content: "\f09b"; }
.fa-github-alt:before { content: "\f113"; }
.fa-github-square:before { content: "\f092"; }
.fa-gitlab:before { content: "\f296"; }
.fa-glass:before { content: "\f000"; }
.fa-glide:before { content: "\f2a5"; }
.fa-glide-g:before { content: "\f2a6"; }
.fa-globe:before { content: "\f0ac"; }
.fa-globe-e:before { content: "\f304"; }
.fa-globe-w:before { content: "\f305"; }
.fa-gnu:before { content: "\f34d"; }
.fa-gnu-social:before { content: "\f2e7"; }
.fa-gnupg:before { content: "\f30d"; }
.fa-google:before { content: "\f1a0"; }
.fa-google-play:before { content: "\f34e"; }
.fa-google-plus:before { content: "\f0d5"; }
.fa-google-plus-official:before { content: "\f2b3"; }
.fa-google-plus-square:before { content: "\f0d4"; }
.fa-google-wallet:before { content: "\f1ee"; }
.fa-graduation-cap:before { content: "\f19d"; }
.fa-gratipay:before { content: "\f184"; }
.fa-grav:before { content: "\f2d6"; }
.fa-h-square:before { content: "\f0fd"; }
.fa-hackaday:before { content: "\f30a"; }
.fa-hacker-news:before { content: "\f1d4"; }
.fa-hackster:before { content: "\f326"; }
.fa-hal:before { content: "\f333"; }
.fa-hand-lizard-o:before { content: "\f258"; }
.fa-hand-o-down:before { content: "\f0a7"; }
.fa-hand-o-left:before { content: "\f0a5"; }
.fa-hand-o-right:before { content: "\f0a4"; }
.fa-hand-o-up:before { content: "\f0a6"; }
.fa-hand-paper-o:before { content: "\f256"; }
.fa-hand-peace-o:before { content: "\f25b"; }
.fa-hand-pointer-o:before { content: "\f25a"; }
.fa-hand-rock-o:before { content: "\f255"; }
.fa-hand-scissors-o:before { content: "\f257"; }
.fa-hand-spock-o:before { content: "\f259"; }
.fa-handshake-o:before { content: "\f2b5"; }
.fa-hashnode:before { content: "\f317"; }
.fa-hashtag:before { content: "\f292"; }
.fa-hdd-o:before { content: "\f0a0"; }
.fa-header:before { content: "\f1dc"; }
.fa-headphones:before { content: "\f025"; }
.fa-heart:before { content: "\f004"; }
.fa-heart-o:before { content: "\f08a"; }
.fa-heartbeat:before { content: "\f21e"; }
.fa-hedgedoc:before { content: "\f368"; }
.fa-heroku:before { content: "\f34f"; }
.fa-history:before { content: "\f1da"; }
.fa-home:before { content: "\f015"; }
.fa-home-assistant:before { content: "\f350"; }
.fa-hospital-o:before { content: "\f0f8"; }
.fa-hourglass:before { content: "\f254"; }
.fa-hourglass-end:before { content: "\f253"; }
.fa-hourglass-half:before { content: "\f252"; }
.fa-hourglass-o:before { content: "\f250"; }
.fa-hourglass-start:before { content: "\f251"; }
.fa-houzz:before { content: "\f27c"; }
.fa-html5:before { content: "\f13b"; }
.fa-hubzilla:before { content: "\f2eb"; }
.fa-i-cursor:before { content: "\f246"; }
.fa-id-badge:before { content: "\f2c1"; }
.fa-id-card:before { content: "\f2c2"; }
.fa-id-card-o:before { content: "\f2c3"; }
.fa-ils:before { content: "\f20b"; }
.fa-imdb:before { content: "\f2d8"; }
.fa-inbox:before { content: "\f01c"; }
.fa-indent:before { content: "\f03c"; }
.fa-industry:before { content: "\f275"; }
.fa-info:before { content: "\f129"; }
.fa-info-circle:before { content: "\f05a"; }
.fa-inkscape:before { content: "\f312"; }
.fa-inr:before { content: "\f156"; }
.fa-instagram:before { content: "\f16d"; }
.fa-internet-explorer:before { content: "\f26b"; }
.fa-ioxhost:before { content: "\f208"; }
.fa-ipfs:before { content: "\f369"; }
.fa-italic:before { content: "\f033"; }
.fa-java:before { content: "\f351"; }
.fa-javascript:before { content: "\f36a"; }
.fa-jirafeau:before { content: "\f318"; }
.fa-joomla:before { content: "\f1aa"; }
.fa-joplin:before { content: "\f310"; }
.fa-jpy:before { content: "\f157"; }
.fa-jsfiddle:before { content: "\f1cc"; }
.fa-julia:before { content: "\f334"; }
.fa-jupyter:before { content: "\f335"; }
.fa-key:before { content: "\f084"; }
.fa-key-modern:before { content: "\f2f7"; }
.fa-keybase:before { content: "\f2f4"; }
.fa-keyboard-o:before { content: "\f11c"; }
.fa-krw:before { content: "\f159"; }
.fa-language:before { content: "\f1ab"; }
.fa-laptop:before { content: "\f109"; }
.fa-laravel:before { content: "\f30b"; }
.fa-lastfm:before { content: "\f202"; }
.fa-lastfm-square:before { content: "\f203"; }
.fa-leaf:before { content: "\f06c"; }
.fa-leanpub:before { content: "\f212"; }
.fa-lemmy:before { content: "\f36b"; }
.fa-lemon-o:before { content: "\f094"; }
.fa-level-down:before { content: "\f149"; }
.fa-level-up:before { content: "\f148"; }
.fa-liberapay:before { content: "\f2e9"; }
.fa-liberapay-square:before { content: "\f2e8"; }
.fa-life-ring:before { content: "\f1cd"; }
.fa-lightbulb-o:before { content: "\f0eb"; }
.fa-line-chart:before { content: "\f201"; }
.fa-link:before { content: "\f0c1"; }
.fa-linkedin:before { content: "\f0e1"; }
.fa-linkedin-square:before { content: "\f08c"; }
.fa-linode:before { content: "\f2b8"; }
.fa-linux:before { content: "\f17c"; }
.fa-list:before { content: "\f03a"; }
.fa-list-alt:before { content: "\f022"; }
.fa-list-ol:before { content: "\f0cb"; }
.fa-list-ul:before { content: "\f0ca"; }
.fa-location-arrow:before { content: "\f124"; }
.fa-lock:before { content: "\f023"; }
.fa-long-arrow-down:before { content: "\f175"; }
.fa-long-arrow-left:before { content: "\f177"; }
.fa-long-arrow-right:before { content: "\f178"; }
.fa-long-arrow-up:before { content: "\f176"; }
.fa-low-vision:before { content: "\f2a8"; }
.fa-magic:before { content: "\f0d0"; }
.fa-magnet:before { content: "\f076"; }
.fa-male:before { content: "\f183"; }
.fa-map:before { content: "\f279"; }
.fa-map-marker:before { content: "\f041"; }
.fa-map-o:before { content: "\f278"; }
.fa-map-pin:before { content: "\f276"; }
.fa-map-signs:before { content: "\f277"; }
.fa-mariadb:before { content: "\f352"; }
.fa-markdown:before { content: "\f353"; }
.fa-mars:before { content: "\f222"; }
.fa-mars-double:before { content: "\f227"; }
.fa-mars-stroke:before { content: "\f229"; }
.fa-mars-stroke-h:before { content: "\f22b"; }
.fa-mars-stroke-v:before { content: "\f22a"; }
.fa-mastodon:before { content: "\f2e1"; }
.fa-mastodon-alt:before { content: "\f2e2"; }
.fa-mastodon-square:before { content: "\f300"; }
.fa-matrix-org:before { content: "\f313"; }
.fa-maxcdn:before { content: "\f136"; }
.fa-meanpath:before { content: "\f20c"; }
.fa-medium:before { content: "\f23a"; }
.fa-medium-square:before { content: "\f2f8"; }
.fa-medkit:before { content: "\f0fa"; }
.fa-meetup:before { content: "\f2e0"; }
.fa-meh-o:before { content: "\f11a"; }
.fa-mercury:before { content: "\f223"; }
.fa-microchip:before { content: "\f2db"; }
.fa-microphone:before { content: "\f130"; }
.fa-microphone-slash:before { content: "\f131"; }
.fa-minus:before { content: "\f068"; }
.fa-minus-circle:before { content: "\f056"; }
.fa-minus-square:before { content: "\f146"; }
.fa-minus-square-o:before { content: "\f147"; }
.fa-mixcloud:before { content: "\f289"; }
.fa-mobile:before { content: "\f10b"; }
.fa-modx:before { content: "\f285"; }
.fa-money:before { content: "\f0d6"; }
.fa-moon:before { content: "\f328"; }
.fa-moon-o:before { content: "\f186"; }
.fa-motorcycle:before { content: "\f21c"; }
.fa-mouse-pointer:before { content: "\f245"; }
.fa-mumble:before { content: "\f36c"; }
.fa-music:before { content: "\f001"; }
.fa-mysql:before { content: "\f354"; }
.fa-neuter:before { content: "\f22c"; }
.fa-newspaper-o:before { content: "\f1ea"; }
.fa-nextcloud:before { content: "\f306"; }
.fa-nextcloud-square:before { content: "\f307"; }
.fa-nodejs:before { content: "\f308"; }
.fa-nordcast:before { content: "\f355"; }
.fa-object-group:before { content: "\f247"; }
.fa-object-ungroup:before { content: "\f248"; }
.fa-odnoklassniki:before { content: "\f263"; }
.fa-odnoklassniki-square:before { content: "\f264"; }
.fa-open-collective:before { content: "\f336"; }
.fa-opencart:before { content: "\f23d"; }
.fa-openid:before { content: "\f19b"; }
.fa-opera:before { content: "\f26a"; }
.fa-optin-monster:before { content: "\f23c"; }
.fa-orcid:before { content: "\f337"; }
.fa-osi:before { content: "\f36d"; }
.fa-outdent:before { content: "\f03b"; }
.fa-pagelines:before { content: "\f18c"; }
.fa-paint-brush:before { content: "\f1fc"; }
.fa-paper-plane:before { content: "\f1d8"; }
.fa-paper-plane-o:before { content: "\f1d9"; }
.fa-paperclip:before { content: "\f0c6"; }
.fa-paragraph:before { content: "\f1dd"; }
.fa-patreon:before { content: "\f2f0"; }
.fa-pause:before { content: "\f04c"; }
.fa-pause-circle:before { content: "\f28b"; }
.fa-pause-circle-o:before { content: "\f28c"; }
.fa-paw:before { content: "\f1b0"; }
.fa-paypal:before { content: "\f1ed"; }
.fa-peertube:before { content: "\f2e4"; }
.fa-pencil:before { content: "\f040"; }
.fa-pencil-square:before { content: "\f14b"; }
.fa-pencil-square-o:before { content: "\f044"; }
.fa-percent:before { content: "\f295"; }
.fa-phone:before { content: "\f095"; }
.fa-phone-square:before { content: "\f098"; }
.fa-php:before { content: "\f30e"; }
.fa-picture-o:before { content: "\f03e"; }
.fa-pie-chart:before { content: "\f200"; }
.fa-pinterest:before { content: "\f0d2"; }
.fa-pinterest-p:before { content: "\f231"; }
.fa-pinterest-square:before { content: "\f0d3"; }
.fa-pixelfed:before { content: "\f314"; }
.fa-plane:before { content: "\f072"; }
.fa-play:before { content: "\f04b"; }
.fa-play-circle:before { content: "\f144"; }
.fa-play-circle-o:before { content: "\f01d"; }
.fa-pleroma:before { content: "\f324"; }
.fa-plug:before { content: "\f1e6"; }
.fa-plume:before { content: "\f356"; }
.fa-plus:before { content: "\f067"; }
.fa-plus-circle:before { content: "\f055"; }
.fa-plus-square:before { content: "\f0fe"; }
.fa-plus-square-o:before { content: "\f196"; }
.fa-podcast:before { content: "\f2ce"; }
.fa-postgresql:before { content: "\f357"; }
.fa-power-off:before { content: "\f011"; }
.fa-print:before { content: "\f02f"; }
.fa-product-hunt:before { content: "\f288"; }
.fa-proftpd:before { content: "\f36e"; }
.fa-puzzle-piece:before { content: "\f12e"; }
.fa-python:before { content: "\f322"; }
.fa-qq:before { content: "\f1d6"; }
.fa-qrcode:before { content: "\f029"; }
.fa-question:before { content: "\f128"; }
.fa-question-circle:before { content: "\f059"; }
.fa-question-circle-o:before { content: "\f29c"; }
.fa-quora:before { content: "\f2c4"; }
.fa-quote-left:before { content: "\f10d"; }
.fa-quote-right:before { content: "\f10e"; }
.fa-random:before { content: "\f074"; }
.fa-ravelry:before { content: "\f2d9"; }
.fa-react:before { content: "\f302"; }
.fa-rebel:before { content: "\f1d0"; }
.fa-recycle:before { content: "\f1b8"; }
.fa-reddit:before { content: "\f1a1"; }
.fa-reddit-alien:before { content: "\f281"; }
.fa-reddit-square:before { content: "\f1a2"; }
.fa-refresh:before { content: "\f021"; }
.fa-registered:before { content: "\f25d"; }
.fa-renren:before { content: "\f18b"; }
.fa-repeat:before { content: "\f01e"; }
.fa-reply:before { content: "\f112"; }
.fa-reply-all:before { content: "\f122"; }
.fa-researchgate:before { content: "\f338"; }
.fa-retweet:before { content: "\f079"; }
.fa-road:before { content: "\f018"; }
.fa-rocket:before { content: "\f135"; }
.fa-rss:before { content: "\f09e"; }
.fa-rss-square:before { content: "\f143"; }
.fa-rub:before { content: "\f158"; }
.fa-safari:before { content: "\f267"; }
.fa-sass:before { content: "\f358"; }
.fa-sass-alt:before { content: "\f359"; }
.fa-scissors:before { content: "\f0c4"; }
.fa-scribd:before { content: "\f28a"; }
.fa-scuttlebutt:before { content: "\f2ea"; }
.fa-search:before { content: "\f002"; }
.fa-search-minus:before { content: "\f010"; }
.fa-search-plus:before { content: "\f00e"; }
.fa-sellsy:before { content: "\f213"; }
.fa-server:before { content: "\f233"; }
.fa-shaarli:before { content: "\f2f5"; }
.fa-shaarli-o:before { content: "\f2f6"; }
.fa-share:before { content: "\f064"; }
.fa-share-alt:before { content: "\f1e0"; }
.fa-share-alt-square:before { content: "\f1e1"; }
.fa-share-square:before { content: "\f14d"; }
.fa-share-square-o:before { content: "\f045"; }
.fa-shield:before { content: "\f132"; }
.fa-ship:before { content: "\f21a"; }
.fa-shirtsinbulk:before { content: "\f214"; }
.fa-shopping-bag:before { content: "\f290"; }
.fa-shopping-basket:before { content: "\f291"; }
.fa-shopping-cart:before { content: "\f07a"; }
.fa-shower:before { content: "\f2cc"; }
.fa-sign-in:before { content: "\f090"; }
.fa-sign-language:before { content: "\f2a7"; }
.fa-sign-out:before { content: "\f08b"; }
.fa-signal:before { content: "\f012"; }
.fa-signalapp:before { content: "\f30c"; }
.fa-simplybuilt:before { content: "\f215"; }
.fa-sitemap:before { content: "\f0e8"; }
.fa-skate:before { content: "\f35a"; }
.fa-sketchfab:before { content: "\f35b"; }
.fa-skyatlas:before { content: "\f216"; }
.fa-skype:before { content: "\f17e"; }
.fa-slack:before { content: "\f198"; }
.fa-sliders:before { content: "\f1de"; }
.fa-slideshare:before { content: "\f1e7"; }
.fa-smile-o:before { content: "\f118"; }
.fa-snapchat:before { content: "\f2ab"; }
.fa-snapchat-ghost:before { content: "\f2ac"; }
.fa-snapchat-square:before { content: "\f2ad"; }
.fa-snowdrift:before { content: "\f2f1"; }
.fa-snowflake-o:before { content: "\f2dc"; }
.fa-social-home:before { content: "\f2ec"; }
.fa-sort:before { content: "\f0dc"; }
.fa-sort-alpha-asc:before { content: "\f15d"; }
.fa-sort-alpha-desc:before { content: "\f15e"; }
.fa-sort-amount-asc:before { content: "\f160"; }
.fa-sort-amount-desc:before { content: "\f161"; }
.fa-sort-asc:before { content: "\f0de"; }
.fa-sort-desc:before { content: "\f0dd"; }
.fa-sort-numeric-asc:before { content: "\f162"; }
.fa-sort-numeric-desc:before { content: "\f163"; }
.fa-soundcloud:before { content: "\f1be"; }
.fa-space-shuttle:before { content: "\f197"; }
.fa-spell-check:before { content: "\f327"; }
.fa-spinner:before { content: "\f110"; }
.fa-spoon:before { content: "\f1b1"; }
.fa-spotify:before { content: "\f1bc"; }
.fa-square:before { content: "\f0c8"; }
.fa-square-o:before { content: "\f096"; }
.fa-stack-exchange:before { content: "\f18d"; }
.fa-stack-overflow:before { content: "\f16c"; }
.fa-star:before { content: "\f005"; }
.fa-star-half:before { content: "\f089"; }
.fa-star-half-o:before { content: "\f123"; }
.fa-star-o:before { content: "\f006"; }
.fa-steam:before { content: "\f1b6"; }
.fa-steam-square:before { content: "\f1b7"; }
.fa-step-backward:before { content: "\f048"; }
.fa-step-forward:before { content: "\f051"; }
.fa-stethoscope:before { content: "\f0f1"; }
.fa-sticky-note:before { content: "\f249"; }
.fa-sticky-note-o:before { content: "\f24a"; }
.fa-stop:before { content: "\f04d"; }
.fa-stop-circle:before { content: "\f28d"; }
.fa-stop-circle-o:before { content: "\f28e"; }
.fa-street-view:before { content: "\f21d"; }
.fa-strikethrough:before { content: "\f0cc"; }
.fa-stumbleupon:before { content: "\f1a4"; }
.fa-stumbleupon-circle:before { content: "\f1a3"; }
.fa-subscript:before { content: "\f12c"; }
.fa-subway:before { content: "\f239"; }
.fa-suitcase:before { content: "\f0f2"; }
.fa-sun:before { content: "\f329"; }
.fa-sun-o:before { content: "\f185"; }
.fa-superpowers:before { content: "\f2dd"; }
.fa-superscript:before { content: "\f12b"; }
.fa-syncthing:before { content: "\f311"; }
.fa-table:before { content: "\f0ce"; }
.fa-tablet:before { content: "\f10a"; }
.fa-tachometer:before { content: "\f0e4"; }
.fa-tag:before { content: "\f02b"; }
.fa-tags:before { content: "\f02c"; }
.fa-tasks:before { content: "\f0ae"; }
.fa-taxi:before { content: "\f1ba"; }
.fa-telegram:before { content: "\f2c6"; }
.fa-television:before { content: "\f26c"; }
.fa-tencent-weibo:before { content: "\f1d5"; }
.fa-terminal:before { content: "\f120"; }
.fa-tex:before { content: "\f35c"; }
.fa-text-height:before { content: "\f034"; }
.fa-text-width:before { content: "\f035"; }
.fa-textpattern:before { content: "\f35d"; }
.fa-th:before { content: "\f00a"; }
.fa-th-large:before { content: "\f009"; }
.fa-th-list:before { content: "\f00b"; }
.fa-themeisle:before { content: "\f2b2"; }
.fa-thermometer-empty:before { content: "\f2cb"; }
.fa-thermometer-full:before { content: "\f2c7"; }
.fa-thermometer-half:before { content: "\f2c9"; }
.fa-thermometer-quarter:before { content: "\f2ca"; }
.fa-thermometer-three-quarters:before { content: "\f2c8"; }
.fa-thumb-tack:before { content: "\f08d"; }
.fa-thumbs-down:before { content: "\f165"; }
.fa-thumbs-o-down:before { content: "\f088"; }
.fa-thumbs-o-up:before { content: "\f087"; }
.fa-thumbs-up:before { content: "\f164"; }
.fa-ticket:before { content: "\f145"; }
.fa-times:before { content: "\f00d"; }
.fa-times-circle:before { content: "\f057"; }
.fa-times-circle-o:before { content: "\f05c"; }
.fa-tint:before { content: "\f043"; }
.fa-tipeee:before { content: "\f301"; }
.fa-toggle-off:before { content: "\f204"; }
.fa-toggle-on:before { content: "\f205"; }
.fa-tor-onion:before { content: "\f32e"; }
.fa-trademark:before { content: "\f25c"; }
.fa-train:before { content: "\f238"; }
.fa-transgender:before { content: "\f224"; }
.fa-transgender-alt:before { content: "\f225"; }
.fa-trash:before { content: "\f1f8"; }
.fa-trash-o:before { content: "\f014"; }
.fa-tree:before { content: "\f1bb"; }
.fa-trello:before { content: "\f181"; }
.fa-tripadvisor:before { content: "\f262"; }
.fa-trophy:before { content: "\f091"; }
.fa-truck:before { content: "\f0d1"; }
.fa-try:before { content: "\f195"; }
.fa-tty:before { content: "\f1e4"; }
.fa-tumblr:before { content: "\f173"; }
.fa-tumblr-square:before { content: "\f174"; }
.fa-twitch:before { content: "\f1e8"; }
.fa-twitter:before { content: "\f099"; }
.fa-twitter-square:before { content: "\f081"; }
.fa-ubuntu:before { content: "\f36f"; }
.fa-umbrella:before { content: "\f0e9"; }
.fa-underline:before { content: "\f0cd"; }
.fa-undo:before { content: "\f0e2"; }
.fa-unity:before { content: "\f35e"; }
.fa-universal-access:before { content: "\f29a"; }
.fa-university:before { content: "\f19c"; }
.fa-unlock:before { content: "\f09c"; }
.fa-unlock-alt:before { content: "\f13e"; }
.fa-unslpash:before { content: "\f325"; }
.fa-upload:before { content: "\f093"; }
.fa-usb:before { content: "\f287"; }
.fa-usd:before { content: "\f155"; }
.fa-user:before { content: "\f007"; }
.fa-user-circle:before { content: "\f2bd"; }
.fa-user-circle-o:before { content: "\f2be"; }
.fa-user-md:before { content: "\f0f0"; }
.fa-user-o:before { content: "\f2c0"; }
.fa-user-plus:before { content: "\f234"; }
.fa-user-secret:before { content: "\f21b"; }
.fa-user-times:before { content: "\f235"; }
.fa-users:before { content: "\f0c0"; }
.fa-venus:before { content: "\f221"; }
.fa-venus-double:before { content: "\f226"; }
.fa-venus-mars:before { content: "\f228"; }
.fa-viacoin:before { content: "\f237"; }
.fa-viadeo:before { content: "\f2a9"; }
.fa-viadeo-square:before { content: "\f2aa"; }
.fa-video-camera:before { content: "\f03d"; }
.fa-vimeo:before { content: "\f27d"; }
.fa-vimeo-square:before { content: "\f194"; }
.fa-vine:before { content: "\f1ca"; }
.fa-vk:before { content: "\f189"; }
.fa-volume-control-phone:before { content: "\f2a0"; }
.fa-volume-down:before { content: "\f027"; }
.fa-volume-mute:before { content: "\f32f"; }
.fa-volume-off:before { content: "\f026"; }
.fa-volume-up:before { content: "\f028"; }
.fa-weibo:before { content: "\f18a"; }
.fa-weixin:before { content: "\f1d7"; }
.fa-whatsapp:before { content: "\f232"; }
.fa-wheelchair:before { content: "\f193"; }
.fa-wheelchair-alt:before { content: "\f29b"; }
.fa-wifi:before { content: "\f1eb"; }
.fa-wikidata:before { content: "\f31a"; }
.fa-wikipedia-w:before { content: "\f266"; }
.fa-window-close:before { content: "\f2d3"; }
.fa-window-close-o:before { content: "\f2d4"; }
.fa-window-maximize:before { content: "\f2d0"; }
.fa-window-minimize:before { content: "\f2d1"; }
.fa-window-restore:before { content: "\f2d2"; }
.fa-windows:before { content: "\f17a"; }
.fa-wire:before { content: "\f32c"; }
.fa-wordpress:before { content: "\f19a"; }
.fa-wpbeginner:before { content: "\f297"; }
.fa-wpexplorer:before { content: "\f2de"; }
.fa-wpforms:before { content: "\f298"; }
.fa-wrench:before { content: "\f0ad"; }
.fa-xing:before { content: "\f168"; }
.fa-xing-square:before { content: "\f169"; }
.fa-xmpp:before { content: "\f2f9"; }
.fa-y-combinator:before { content: "\f23b"; }
.fa-yahoo:before { content: "\f19e"; }
.fa-yelp:before { content: "\f1e9"; }
.fa-yoast:before { content: "\f2b1"; }
.fa-youtube:before { content: "\f167"; }
.fa-youtube-play:before { content: "\f16a"; }
.fa-youtube-square:before { content: "\f166"; }
.fa-zotero:before { content: "\f309"; }
