/* ===== Customize Styles ===== */
/* https://www.nordtheme.com/ */

:root,
html[data-theme='light'] {
    --bg-dark-primary: #2E3440;
    --bg-dark-secondary: #3B4252;

    --bg-light-primary: #F9F9F9;
    --bg-light-secondary: #FFF;

    --txt-color-on-bg-dark: #ECEFF4;
    --txt-color-on-bg-light: #2E3440;
    --txt-color-white: #FFF;
    --txt-color-light: #ECEFF4;
    --txt-color-hover: var(--ghost-accent-color);

    --primary-color: var(--ghost-accent-color);
    --secondary-color: #B10083;

    --featured-color-text: #ECEFF4;
    --featured-color-background: #EB3067;

    --color-red: #EB3067;
    --color-orange: #FF774E;
    --color-yellow: #F9F871;
    --color-green: #00D7BB;
    --color-blue: #0078E2;
    --color-gray: #D8DEE9;
    --color-white: #FFFFFF;

    --border-color: var(--ghost-accent-color);
    --shadow-base: 0 1px 5px rgba(0, 0, 0, 0.02);
    --without-radius: 0px;

    --footer-bg-primary: #1A1A1A;
    --footer-bg-secondary: #252525;
    --footer-bg-light: #F1F1F1;

    --font-family-primary: "Nunito Sans", sans-serif;

    --social-mastodon-color: #2a8bd3;
    --social-xmpp-color: #249a23;
    --social-diaspora-color: #1c1c1c;
    --social-telegram-color: #28a7e1;
    --social-rss-color: #f79400;
    --social-twitter-color: #1e9ff2;
    --social-facebook-color: #395797;
    --social-email-color: #d34537;
}

html[data-theme='dark'] {
    --bg-dark-primary: #111111;
    --bg-dark-secondary: #FFFFFF;

    --bg-light-primary: #111111;
    --bg-light-secondary: #1a1a1a;

    --txt-color-on-bg-dark: #ECEFF4;
    --txt-color-on-bg-light: #ECEFF4;
    --txt-color-white: #FFF;
    --txt-color-light: #ECEFF4;
}