/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
Version: v0.2.4
Description: A tasty blogging theme for Ghost
Author: Jesús Camacho
Author URI: https://voidnull.es

FORKED:
GitHub Repo: https://github.com/huangyuzhang/Fizzy-Theme
Author URI: https://yuzhang.me
*/

/*
## IMPORT ########## */
@import "custom.css";

@import "blog/card.css";
@import "blog/comment.css";
@import "blog/featured.css";
@import "blog/share.css";
@import "blog/single.css";
@import "general/button.css";
@import "general/global.css";
@import "general/images.css";
@import "general/labels.css";
@import "general/layout.css";
@import "general/modal.css";
@import "misc/kg.css";
@import "misc/plugins.css";
@import "site/archive.css";
@import "site/author.css";
@import "site/community.css";
@import "site/custom-pages.css";
@import "site/error.css";
@import "site/explore.css";
@import "site/footer.css";
@import "site/navbar-sm.css";
@import "site/navbar.css";
@import "site/navigation.css";
@import "site/next-post.css";
@import "site/page.css";
@import "site/pagination.css";
@import "site/search.css";
@import "site/social.css";
@import "site/tag.css";

/* @import "site/login.css";
@import "site/members.css"; */

/* POST-SINGLE: BOOKMARK CARD */
.single-article .single-post .kg-bookmark-card {
    margin: 1em 0 !important;
}

.single-article .single-post .kg-bookmark-card a:hover {
    color: #000;
}

.single-article .single-post .kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
}

.single-article .single-post .kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
    background-color: var(--bg-color-light);
    border: 1px solid var(--border-color);
}

.single-article .single-post .kg-bookmark-title {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5em;
    max-height: 3em;
    overflow-y: hidden;
}

.single-article .single-post .kg-bookmark-card:hover .kg-bookmark-title {
    text-decoration: underline;
}

.single-article .single-post .kg-bookmark-description {
    color: var(--txt-color-on-bg-light);
}

.single-article .single-post .kg-bookmark-description,
.single-article .single-post .kg-bookmark-metadata {
    margin-top: 0.5em;
    line-height: 1.5em;
    max-height: 3em;
    overflow-y: hidden;
}

.single-article .single-post .kg-bookmark-metadata {
    display: flex;
    align-items: center;
}

.single-article .single-post .kg-bookmark-thumbnail {
    flex-basis: 10rem;
    flex-grow: 1;
    position: relative;
    min-width: 10rem;
    max-height: 100%;
}

.single-article .single-post .kg-bookmark-thumbnail img {
    vertical-align: bottom;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-article .single-post .kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.single-article .single-post .kg-bookmark-author:after {
    content: "\2022";
    margin: 0 6px;
}

@import "site/header.css";