/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## RESPONSIVE ########## */

/*
## BLOG */
@media (max-width: 1450px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 1084px) {}

@media (max-width: 990px) {
    .section-comments #isso-thread #isso-root {
        padding: 50px 150px;
    }
}

@media (max-width: 760px) {

    .section-featured .card-featured-header-title,
    .section-posts .card-featured-header-title,
    .section-post-related .card-featured-header-title,
    .section-featured-post-archive .card-featured-header-title {
        bottom: 90px;
    }

    .section-comments #isso-thread #isso-root {
        padding: 50px 100px;
    }

    .section-posts {
        margin: 82px 25px 0px 25px;
    }

}

@media (max-width: 600px) {}

@media (max-width: 500px) {
    .section-comments #isso-thread #isso-root {
        padding: 50px 50px;
    }
}

@media (max-width: 400px) {}

/*
## GENERAL */
@media (max-width: 1450px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 1084px) {}

@media (max-width: 990px) {}

@media (max-width: 760px) {}

@media (max-width: 600px) {}

@media (max-width: 500px) {}

@media (max-width: 400px) {}

/*
## MISC */
@media (max-width: 1450px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 1084px) {}

@media (max-width: 990px) {}

@media (max-width: 760px) {}

@media (max-width: 600px) {}

@media (max-width: 500px) {}

@media (max-width: 400px) {}

/*
## SITE */
@media (max-width: 1450px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {}

@media (max-width: 1084px) {}

@media (max-width: 990px) {
    #navbarPrimary .navbar-start .navbar-item {
        text-align: center;
    }
}

@media (max-width: 760px) {

    .navigation-next,
    .navigation-prev {
        width: 100%;
        padding: 30px;
    }

    .section-author-info .author-info-bio {
        width: 100%;
    }

    .section-author-info {
        padding: 60px;
    }

    .section-explore {
        margin: 0px 25px;
    }
}

@media (max-width: 600px) {

    .single-article .single-post {
        padding: 100px 30px 20px;
    }
}

@media (max-width: 500px) {}

@media (max-width: 400px) {}