<section class="section section-navigation-posts is-relative">
  <div class="columns is-gapless">

    <div class="column is-hidden-touch is-relative"></div><!-- .column -->

    <div class="column is-12-tablet is-12-desktop is-8-widescreen is-8-fullhd">

      <div class="navigation-posts">
        <div class="level">
          <div class="navigation-prev level-left has-text-left">
            {{#prev_post}}
            <a class="is-uppercase" href="{{url}}" alt="{{title}}" title="{{title}}">
              <span class="icon-text">
                <span class="icon">
                  <i class="gg-chevron-left"></i>
                </span>
                <span>{{t "PREVIOUS"}}</span>
              </span>
              <h5 class="title is-5">{{title}}</h5>
            </a>
            {{/prev_post}}
          </div><!-- .navigation-prev -->

          <div class="navigation-next level-right has-text-right">
            {{#next_post}}
            <a class="is-uppercase" href="{{url}}" alt="{{title}}" title="{{title}}">
              <span class="icon-text">
                <span>{{t "NEXT"}}</span>
                <span class="icon">
                  <i class="gg-chevron-right"></i>
                </span>                
              </span>             
              <h5 class="title is-5">{{title}}</h5>
            </a>
            {{/next_post}}
          </div><!-- .navigation-next -->
        </div><!-- .level -->
      </div><!-- .navigation-posts -->

    </div><!-- .column -->

    <div class="column is-hidden-touch is-relative"></div><!-- .column -->

  </div><!-- .columns -->
</section>