<section class="section-share is-relative">

  <p class="section-share-title is-nunito-light is-uppercase">
    {{t "POST-SHARE-MESSAGE"}}
  </p>
  <div class="share-content">

    <a class="fediverse has-text-centered" data-target="modal-fediverse" target="_blank" title="{{title}}">
      <div class="icon mastodon">
        <div class="tooltip">Fediverse</div>
        <img class="svg-img" src="../assets/images/social-icons/fediverse.svg" alt="Fediverse Icon">
      </div>
    </a>

    <a class="has-text-centered" href="mailto:?subject={{title}}&body={{title}}:{{@site.url}}{{url}}" target="_blank"
      title="{{title}}">
      <div class="icon xmpp">
        <div class="tooltip">XMPP</div>
        <img class="svg-img" src="../assets/images/social-icons/xmpp.svg" alt="XMPP Icon">
      </div>
    </a>

    <a class="has-text-centered" href="https://telegram.me/share/url?url={{@site.url}}{{url}}" target="_blank"
      title="{{title}}">
      <div class="icon telegram">
        <div class="tooltip">Telegram</div>
        <img class="svg-img" src="../assets/images/social-icons/telegram.svg" alt="Telegram Icon">
      </div>
    </a>

    <a class="has-text-centered" href="https://twitter.com/intent/tweet?url={{@site.url}}{{url}}&text={{title}}"
      target="_blank" title="{{title}}">
      <div class="icon twitter">
        <div class="tooltip">Twitter</div>
        <img class="svg-img" src="../assets/images/social-icons/twitter.svg" alt="Twitter Icon">
      </div>
    </a>

    <a class="has-text-centered" href="https://facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}&t={{title}}"
      target="_blank" title="{{title}}">
      <div class="icon facebook">
        <div class="tooltip">Facebook</div>
        <img class="svg-img" src="../assets/images/social-icons/facebook.svg" alt="Facebook Icon">
      </div>
    </a>
  </div><!-- .share-content -->

  <!-- MODAL FOR GNU SOCIAL -->
  <div id="modal-fediverse" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">

      <div class="tile is-ancestor" id="fediverse-family-box">
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('gnusocial')">
            <img class="svg-img gnu-social" src="../assets/images/social-icons/gnusocial.svg" alt="GNU Social Icon">
          </button>
        </div>
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('mastodon')">
            <img class="svg-img mastodon" src="../assets/images/social-icons/mastodon.svg" alt="Mastodon Icon">
          </button>
        </div>
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('pleroma')" disabled>
            <img class="svg-img pleroma" src="../assets/images/social-icons/pleroma.svg" alt="Pleroma Icon">
          </button>
        </div>
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('hubzilla')">
            <img class="svg-img hubzilla" src="../assets/images/social-icons/hubzilla.svg" alt="Hubzilla Icon">
          </button>
        </div>
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('friendica')" disabled>
            <img class="svg-img friendica" src="../assets/images/social-icons/friendica.svg" alt="Friendica Icon">
          </button>
        </div>
        <div class="tile is-parent">
          <button class="tile is-child box" onClick="update_fediverse_family('diaspora')">
            <img class="svg-img diaspora" src="../assets/images/social-icons/diaspora.svg" alt="Diaspora Icon">
          </button>
        </div>
      </div>

      <div id="fediverse-flavor" class="hidden fediverse"></div>

      <div class="field fediverse-form">
        <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-NODE"}}</label>
        <div class="control">
          <input id="fediverse-instance" class="input" type="text" placeholder="https://">
        </div><!-- .control -->
        <p id="help-instance" class="help">{{{t "URL-NODE-HELP {URL-NODE-REAL}" URL-NODE-REAL="https://xarxa.cloud"}}}
        </p>
      </div><!-- .field -->

      <div class="field fediverse-form">
        <label class="label has-text-bold has-text-left is-uppercase">{{t "MESSAGE"}}</label>
        <div class="control">
          <input id="fediverse-message" class="input" type="text" placeholder="{{title}}" value="{{title}}">
        </div>
        <p class="help">{{t "MESSAGE-HELP"}}</p>
      </div><!-- .field -->

      <div class="field fediverse-form">
        <label class="label has-text-bold has-text-left is-uppercase">{{t "URL-SHARE"}}</label>
        <div class="control">
          <input id="fediverse-url" class="input" type="text" placeholder="{{@site.url}}{{url}}" disabled>
        </div><!-- .control -->
      </div><!-- .field -->

      <div class="field fediverse-forms">
        <div class="buttons is-right">
          <button class="button is-medium is-grumium" onclick="fediverseShare();">{{t "BUTTON-SEND"}}</button>
        </div>
      </div><!-- .field -->

    </div><!-- .modal-content -->
    <button class="modal-close is-large" aria-label="close"></button>
  </div><!-- #modal-fediverse -->