{{!-- COMMENTS --}}
<section class="section comments is-relative is-hidden">
  <div class="columns">

    <div class="column is-hidden-touch is-2-desktop is-2-widescreen is-2-fullhd"></div>

    <div class="column is-12-tablet is-8-desktop is-8-widescreen is-8-fullhd">
      <div id="isso-thread"></div>
    </div><!-- .columns -->

    <div class="column is-hidden-touch"></div><!-- . -->

  </div><!-- .columns -->
</section><!-- .section-aside -->