/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

.card-post {
    background-color: var(--bg-light-secondary);
    box-shadow: var(--shadow-base);
}

.card-post-header {
    overflow: hidden;
}

.card-post-header-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    overflow: hidden;
    transition: transform 1.5s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(75%);
}

.card-post-header-image:hover {
    filter: brightness(100%);
    transform: scale(1.2);
}

.card-post-header-tag,
.card-post-time-to-read {
    position: absolute;
}

.card-post-header-tag {
    right: 15px;
    top: 15px;
}

.card-post-time-to-read {
    bottom: -26px;
    left: 0;
    background: var(--primary-color);
    color: var(--txt-color-on-bg-dark);
    padding: 4px 10px;
    transition: all 0.25s;
    opacity: 0;
}

.card-post-time-to-read span {
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 900;
    letter-spacing: 2px;
}

.card-post:hover .card-post-time-to-read {
    bottom: 0px;
    opacity: 1;
}

.card-post-body,
.card-post-info {
    padding: 15px;
}

.card-post-title {
    min-height: 100px;
    align-items: center;
    display: flex;
}

.card-post-title a h2 {
    color: var(--txt-color-on-bg-light);
}

.card-post-tags {
    margin-bottom: 20px;
}

.card-post-tags a {
    color: var(--txt-color-on-bg-light);
    font-size: 0.75rem;
    position: relative;
    margin-right: 7px;
    letter-spacing: 1px;
}

.card-post-tags a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.card-post-tags a::before {
    content: "";
    height: 1px;
    width: 100%;
    background: var(--primary-color);
    transition: all 0.25s;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
}

.card-post-tags a:hover::before {
    transform: scale(1);
}

.card-post-info {
    border-top: 1px solid var(--color-gray);
}

.card-post-info .card-post-info-author,
.card-post-info .card-post-info-date {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-size: 0.75em;
    color: var(--bg-dark-primary);
}

article.members .card-post-header-info .card-post-header-tag .for-members,
article.paid .card-post-header-info .card-post-header-tag .for-paid {
    display: block !important;
    line-height: 2.1;
}