/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION COMMENTS ########## */
.section-comments #isso-thread {
    background-color: var(--bg-light-secondary);
    position: relative;
    padding: 0px 0px 50px;
}

.section-comments #isso-thread>h4 {
    color: var(--bg-light-secondary);
    font-weight: 900;
    background-color: var(--primary-color);
    padding: 50px;
    text-transform: uppercase;
}

.section-comments #isso-thread .isso-postbox {
    margin: 50px 200px;
}

.section-comments #isso-thread .isso-postbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 8rem;
    left: 85px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid var(--primary-color);
}