/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION FEATURED ########## */
.section-featured {
    background-image: url("/assets/images/circuit-board.svg"),
        linear-gradient(160deg,
            rgba(46, 52, 64, 1) 20%,
            rgba(76, 86, 106, 1) 50%,
            rgba(46, 52, 64, 1) 80%);
    padding: 80px 0px;
}

.section-featured .card-featured,
.section-posts .card-featured,
.section-post-related .card-featured,
.section-featured-post-archive .card-featured {
    box-shadow: var(--shadow-base);
}

.section-featured .card-featured-header,
.section-posts .card-featured-header,
.section-post-related .card-featured-header,
.section-featured-post-archive .card-featured-header {
    overflow: hidden;
}

.section-featured .card-featured-header-image,
.section-posts .card-featured-header-image,
.section-post-related .card-featured-header-image,
.section-featured-post-archive .card-featured-header-image {
    padding: 0 !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    overflow: hidden;
    transition: transform 1.5s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(75%);
}

.section-posts .card-featured-header-image,
.section-post-related .card-featured-header-image,
.section-featured-post-archive .card-featured-header-image {
    min-height: 473px;
}

.section-featured .card-featured-header-image:hover,
.section-posts .card-featured-header-image:hover,
.section-post-related .card-featured-header-image:hover,
.section-featured-post-archive .card-featured-header-image:hover {
    filter: brightness(100%);
    transform: scale(1.2);
}

.section-featured .card-featured-header-title,
.section-posts .card-featured-header-title,
.section-post-related .card-featured-header-title,
.section-featured-post-archive .card-featured-header-title {
    z-index: 10;
    position: absolute;
    display: inline-block;
    bottom: 54px;
    padding: 25px 15px;
    width: 100%;
}

.section-featured .card-featured-label,
.section-posts .card-featured-label,
.section-post-related .card-featured-label,
.section-featured-post-archive .card-featured-label {
    position: absolute;
    top: 15px;
    right: 15px;
}

.section-featured .card-featured-info,
.section-post-related .card-featured-info {
    display: none;
}

.section-posts .card-featured-info,
.section-post-related .card-featured-info,
.section-featured-post-archive .card-featured-info {
    background-color: var(--bg-light-secondary);
    border-top: 1px solid var(--color-gray);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

.card-featured-info .card-featured-info-author,
.card-featured-info .card-featured-info-date {
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-size: 0.75em;
    color: var(--bg-dark-primary);
}

/*  */