/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## SECTION SHARE ########## */
.section-share {
    color: var(--txt-color-on-bg-light);
    z-index: 110;
}

.section-share p.section-share-title {
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.share-content {
    margin: 0 auto;
    margin-bottom: 25px;
    display: inline-flex;
}