/*
Theme Name: Gromium
GitLab Repo: https://gitlab.com/t3rr0rz0n3/grumium-theme
License: GPLv3
*/

/*
## POST-SINGLE ########## */
.single-article .single-post-columns {
    background-color: var(--bg-light-secondary);
    box-shadow: var(--shadow-base);
}

.single-article .single-post {
    border: none;
    padding: 100px 90px 20px;
}

.single-article .single-post .single-post-info {
    margin-bottom: 25px;
}

.single-article .single-post .card-post-info-tag .label-date {
    font-weight: 900;
    color: var(--color-gray);
}

.single-post .single-post-info .single-post-info-tag {
    margin-bottom: 25px;
}

.single-post .single-post-info .label-featured {
    color: var(--featured-color-background);
    font-weight: 900;
    float: right;
}

.single-article .single-post-content>h2,
.single-article .single-post-content>h3,
.single-article .single-post-content>h4,
.single-article .single-post-content>h5 {
    margin-top: 50px;
}

.share-to-social {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}